.password_reset_one,
.email_for_password_reset_one {
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2.25rem;
    padding-left: .5rem;
    width: 100%;
    margin-bottom: .5rem;
}