{% extends "layout.html" %}
{% load static %}


{% block title %}
Account Help
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>My Account</h2>
        </div>
        <div class="the_auction_container">
            <div class="help_pages_container">
                <div class="help_nav_container">
                    <ul class="help_links">
                        <li><a href="#paymentOptions">Update My Account Information</a></li>
                        <li><a href="#cryptoPayment">Reset My Password</a></li>
                        <li><a href="#paymentProcessing">Delete My Account</a></li>
                    </ul>
                </div>
                <div class="help_content_container">
                    <div class="help_title_container">
                        <h3 id="paymentOptions">Update My Account Information</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            To update your account information, go to the "Dashboard" page
                            by clicking on "Dashboard" in the navigation menu to the left
                            of the screen (bottom of the screen if you're using a mobile device).
                            On the "Dashboard" page, locate the "Personal" section, and click
                            the "edit" links to update information related to your shoe size,
                            mailing address or payment method. Click the "more" link for more
                            options.
                        </p>
                    </div>
                    <div class="help_title_container">
                        <h3 id="cryptoPayment">Reset My Password</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            WHEN RESET PASSWORD PAGE IS ESTABLISHED UPDATE THIS SECTION.
                        </p>
                    </div>
                    <div class="help_title_container">
                        <h3 id="paymentProcessing">Delete My Account</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            WHEN DELETE ACCOUNT OPTION IS ESTABLISHED UPDATE THIS SECTION.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}