{% extends "layout.html" %}
{% load static %}


{% block title %}On Notice{% endblock %}

{% block main %}

<div class="section_container">
    <div class="page_title">
        <h2>{{ user_on_notice_copy.page_title }}</h2>
    </div>
    <div class="interested_in_container">
        <div class="interested_in_open_bids_container">
            <div class="interested_in_databox_headers">
                {% for i in user_on_notice_copy.on_notice_headers %}
                <h3>{{ i.headers }}</h3>
                {% endfor %}
            </div>
            <div class="interested_in_open_bids">
                {% for prod in prods_on_notice_for %}
                <div class="interested_in_items_container" id="notice-product-{{ prod.id }}">
                    <div class=" interested_in_year">
                        <p>{{ product_specifications.model_year }}</p>
                    </div>
                    <div class="interested_in_item">
                        <a href="product-details">
                            <p>{{ prod.product_title }} {{ prod.secondary_product_title }}</p>
                        </a>
                    </div>
                    <div class="interested_in_size">
                        {% if product_specifications.size %}
                        {% if product_specifications.product_sex == "Male" %}
                        <p>U.S. {{"Men's"}} {{product_specifications.size }}</p>
                        {% else %}
                        <p>U.S. {{"Women's"}} {{product_specifications.size }}</p>
                        {% endif %}
                        <p> - </p>
                        {% endif %}
                    </div>
                    <div class="interested_in_condition">
                        <p>{{product_specifications.condition|capfirst }}</p>
                    </div>
                    <div class="interested_in_condition">
                        <input type="checkbox" class="interested_checkbox" data-product-id="{{ prod.id }}"
                            checked></input>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}