
### Django ##
*.log
*.pot
*.pyc
__pycache__/
development.py
*.sqlite3
pop_up_shop/db.sqlite3
db.sqlite3
db.sqlite3-journal
media

todo.txt
requirements.txt
account_test.py
auction_dummy_data.py
disposable_email_blocklist.conf
pop_accounts/utils/disposable_email_blocklist.conf


.coverage
.coverage.*
.cache
.notsettests.xml
coverage.xml

# Environments #
*.env
.env
.venv
.env/
.venv/
pop_up_shop/settings/.env
geoip/*mmdb
pop_accounts/utils/*conf
