
### Django ##
*.log
*.pot
*.pyc
__pycache__/
development.py
db.sqlite3
db.sqlite3-journal
media

todo.txt
requirements.txt
account_test.py
auction_dummy_data.py


.coverage
.coverage.*
.cache
.notsettests.xml
coverage.xml

# Environments #
*.env
.env
.venv
.env/
.venv/
pop_up_shop/settings/.env
