{% extends "layout.html" %}
{% load static %}


{% block title %}
About Us
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>About The Pop Up</h2>
        </div>
        <div class="the_auction_container">
            <div class="t_and_c_container">
                <h4 class="bold section_title">Connecting buyers with authentic products</h4>
                <p>
                    The Pop Up’s focus is authenticity and we exist to bring authentic products to buyers.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}