{% extends "layout.html" %}
{% load static %}


{% block title %}
Contact Us
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>Contact Us</h2>
        </div>
        <div class="the_auction_container">
            <div class="t_and_c_container">
                <h4 class="bold section_title">
                    Your concerns are important to us, and we’ll get back to you within 24 hours of receiving your
                    message.
                </h4>
                <form action="" method="post" class="contact_us_form">
                    {% csrf_token %}
                    <input type="text" class="modal_email_contact_input" placeholder="Email" />
                    <input type="text" class="modal_subject_contact_input" placeholder="Subject" />
                    <textarea class="modal_message_contact_input" id="message" name="message" rows="4" cols="50"
                        placeholder="Describe your issue here..." placeholder="message">
                    </textarea>
                    <button class="button_long">Send</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}