{% extends "layout.html" %}
{% load static %}


{% block title %}
Verification
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>Verification</h2>
        </div>
        <div class="the_auction_container">
            <div class="t_and_c_container">
                <h4 class="bold section_title">We Got Receipts</h4>
                <p>
                    We only secure product from the manufacturers and trusted retailers, and we’ve got the receipts to
                    prove it. If you’re going to pay top dollar for your favorite kicks or clothing item, we want to
                    make sure you receive an authentic product.
                </p>
                <h4 class="bold section_title">The Fight Against Counterfeits</h4>
                <p>
                    There was a time when counterfeits were easy to spot. Uneven stitching on a Gucci bag, an incorrect
                    logo on a Louis Vuitton item, a Rolex with a second hand that ticks, or a non-symmetrical Jumpman
                    were all tell tale signs of counterfeit goods. However, counterfeiters and counterfeits have gotten
                    better, making it difficult for even the best professionals to spot the difference between real and
                    counterfeit.
                </p>
                <p>
                    We attempt to limit our communities exposure to counterfeits by only purchasing product directly
                    from the manufacturers and/or trusted retailers.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}