{% extends "layout.html" %}
{% load static %}


{% block title %}
Selling Help
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>Selling</h2>
        </div>
        <div class="the_auction_container">
            <div class="help_pages_container">
                <div class="help_nav_container">
                    <ul class="help_links">
                        <li><a href="#primarySeller">Who is Doing the Selling</a></li>
                        <li><a href="#canISell">Can I sell on The Pop Up</a></li>
                    </ul>
                </div>
                <div class="help_content_container">
                    <div class="help_title_container">
                        <h3 id="primarySeller">Who is Doing the Selling</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            All products are being sold by "The Pop Up." We want to ensure that everything sold is
                            authentic, and the best weay to do that is by controlling what gets bought and sold. We only
                            secure product from manufacturers and trusted retailers, and we keep the receipts to prove
                            it. We believe that if you’re going to pay top dollar for your favorite pair kicks or
                            clothing item, it shoud be the authentic product.
                        </p>

                    </div>
                    <div class="help_title_container">
                        <h3 id="canISell">Can I sell on The Pop Up</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            At this time we're not accepting resellers on the platform.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}