{% extends "layout.html" %}
{% load static %}


{% block title %}
Terms and Conditions
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="footer_links_title">
            <h2>Terms and Conditions</h2>
        </div>
        <div class="the_auction_container">
            <div class="t_and_c_container">
                <h2>Introduction</h2>
                <p>Welcome to thepopup.com (the "Site"), owned and operated by The Pop Up, LLC. By accessing ebayinc.com
                    you agree to the following Terms of Use. These Terms of Use are effective as of January 1, 2025.
                </p>
            </div>
            <div class="t_and_c_container">
                <h2>Using thepopup.com</h2>
                <p>You accept thepopup.com "as-is" and choose to use it at your own risk. Despite the prohibitions
                    below, thepopup.com may contain inaccurate, inappropriate or possibly offensive material, and we
                    assume no responsibility or liability for such material.
                </p>
            </div>

        </div>
    </div>

</section>

{% endblock %}