{% extends "layout.html" %}
{% load static %}


{% block title %}
Terms and Conditions
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>Terms and Conditions</h2>
        </div>
        <div class="the_auction_container">
            <div class="t_and_c_container">
                <p>Last Updated: January 1, 2025</p>
                <p> These are the terms and conditions of use for https://thepopup.com/ ("Site"). The Site is operated
                    by
                    The Pop Up, LLC of 430 Lexington Avenue Brooklyn, NY 11221 USA (The Pop Up,” “we,” “us”, or “our”)
                    and is a live marketplace that allows users to research, buy and sell certain consumer goods. These
                    Terms and Conditions of Use, our Marketplace FAQs (the “FAQS”), and all other requirements posted on
                    our websites, all of which are incorporated into these Terms and Conditions of Use by reference and
                    as amended from time to time (collectively, “Terms”) describe the terms and conditions on which we
                    provide our websites (the “Sites”), services, data, software, applications (including mobile
                    applications) and tools (collectively “Services”) to you, whether as a guest or a registered user.
                </p>
                <p>Your use of the Sites and Services will be subject to these Terms and by using them you agree to be
                    bound by them. These Terms create a legal contract between you and us. Please read them carefully.
                    We will collect and process personal data in accordance with our Privacy Policy
                    https://thepopup.com/privacy.
                </p>
                <p class="bold">
                    By using our Sites and Services, or by clicking to accept these Terms, you accept and agree to be
                    bound and abide by these Terms in full. If you do not agree to these Terms, do not use our Sites or
                    any portion of the Services. For all purposes, the English version of the Terms shall be the
                    original, binding instrument and understanding of the parties. In the event of any conflict between
                    the English version of the Terms and any translation into any other language, the English version
                    shall prevail and control.
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}