{% extends "layout.html" %}
{% load static %}


{% block title %}
Email Verification
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="login_section_container">
        <div class="login_page_login_container">
            <div class="login_title">
                <h2>Congrats! Your Email Has Been Verified</h2>
            </div>
            {% if email_verified %}
            <div class="login_alert success" role="alert">
                Your email has been successfully verified. You may now log in.
            </div>
            <div class="login_input_container">
                <form action="{%  url 'pop_accounts:verify_email' uidb64 token %}" method="POST" class="">
                    {% csrf_token %}

                    {{ form.email }}
                    {{ form.password }}


                    <input type="submit" value="Sign In" class="button_medium">
                </form>
            </div>
            {% elif invalid_link %}
            <div class="login_alert error" role="alert">
                Verification link is invalid or expired.
            </div>
            {% elif form.errors %}
            <div class="login_alert error" role="alert">
                Error: Incorrect Username or Password.
            </div>
            {% endif %}

            {% comment %}
            <div class="login_input_container">
                <form action="{%  url 'pop_accounts:verify_email' uidb64 token %}" method="POST" class="">
                    {% csrf_token %}

                    {{ form.email }}
                    {{ form.password }}

                    {% if form.errors %}
                    <div class="login_alert" role="alert">Error: Incorrect Username or Password.</div>
                    {% endif %}

                    <input type="submit" value="Sign In" class="button_medium">
                </form>
            </div>
            {% endcomment %}
        </div>
    </div>
</section>

{% endblock %}