/* =============== MEDIA QUERIES (EXTRA LARGE DEVICES) =============== */
@media screen and (max-width: 1350px) {}

/* =============== MEDIA QUERIES (LARGE DEVICES) =============== */
@media screen and (max-width: 1245px) {}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1000px) {}


/* =============== MEDIA QUERIES (SMEDIUM DEVICES) =============== */
@media screen and (max-width: 800px) {
    #existing-specifications {
        grid-template-columns: 100%;

    }


    .spec-input-group {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .spec-input-group input {
        min-width: 100%;
    }


    .product_category_brand_container {
        flex-direction: column;
    }

    .product_add_type_cat_brand_container {
        align-items: center;
        flex-direction: column;
        gap: 1rem;

    }

    .product_add_image_container {
        flex-direction: column;
        gap: 1rem;

    }


    .product_add_image_container_two {
        flex-direction: column;
        gap: .5rem;
    }

    .product_add_pricing_container {
        flex-direction: column;
        gap: 1rem;
    }

    .product_add_type_cat_brand_container {
        flex-direction: column;
        gap: 1rem;
    }

    .product_add_buy_now_elements {
        min-width: 100%;

    }

    .product_add_buy_now_elements_checkbox {
        border: 2px dotted darkcyan;
        min-width: 100%;

    }
}


/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 640px) {}


/* =============== MEDIA QUERIES (EXTRA-SMALL DEVICES) =============== */
@media screen and (max-width: 450px) {}