/* =============== MEDIA QUERIES (EXTRA LARGE DEVICES) =============== */
@media screen and (max-width: 1350px) {
    .container {
        border: 2px solid yellow;
        height: auto;
    }

}

/* =============== MEDIA QUERIES (LARGE DEVICES) =============== */
@media screen and (max-width: 1245px) {
    .container {
        border: 2px solid red;
        width: calc(100% - 16rem);
        height: auto;
    }

    .footer_payment_options {
        width: 80%;
    }

}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1000px) {
    .container {
        border: 2px solid green;
        height: auto;
    }


    /* =============== FOOTER =============== */

    .top_footer {
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        gap: 2rem;

    }

    .footer_links_container {
        width: 90%;
    }

    .footer_invite_payment_container {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
    }

    .footer_payment_options {
        width: 35%;
    }

    .footer_terms_container ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    /* =============== END OF FOOTER =============== */


    /* =============== SIGN UP MODAL =============== */

    /* Modal background */
    .sign_up_modal {
        /* Hidden by default */
        display: none;

        /* Enable scroll if needed */
        position: fixed;
        z-index: 1000;
        left: 25%;
        top: 1%;

        width: 70%;
        height: 80%;
        overflow: auto;

        /* Black background with opacity */
        background-color: rgba(0, 0, 0, 0.4);

    }

    /* Modal content */
    .sign_up_modal_content {
        background-color: #fff;
        /* margin: 15% auto; */

        /* Center it */
        padding: 1rem 1rem;
        border: 1px solid #888;
        width: 85%;

        /* Adjust width */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: 2px solid var(--text-color);

        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 90%;
        margin: 2.5% auto;
    }

    /* ===== sign_up_pic_form_container ===== */

    .sign_up_pic_form_container {
        display: flex;
    }


    .sign_up_image_container {
        width: 40%;
    }

    .img_sign_up {
        transform: rotate(-90deg);
        height: 45%;
        margin-left: -5rem;
    }

    /* =============== END OF SIGN UP MODAL =============== */
}


/* =============== MEDIA QUERIES (SMEDIUM DEVICES) =============== */
@media screen and (max-width: 800px) {
    .container {
        border: 2px solid blue;

    }

    .footer_payment_options {
        width: 45%;
    }

    /* =============== SIGN UP MODAL =============== */
    .sign_up_image_container {
        visibility: hidden;
        width: 0%;
    }

    .img_sign_up {
        visibility: hidden;
    }

    /* =============== END OF SIGN UP MODAL =============== */
}


/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */


@media screen and (max-width: 640px) {
    .container {
        border: 2px solid pink;
        width: 100%;
        margin-left: -16rem;
    }



    .page_title h2 {
        text-align: center;
    }

    /* ============== NAVIGATION ==============*/

    .bx-chevron-right {
        opacity: 0;
    }

    .sidebar.close,
    .sidebar {
        border-top: 1px solid var(--text-color);

        bottom: 0;
        top: unset;
        position: fixed;
        height: 10.5rem;
        width: 100%;
        border-right: none;
        display: flex;
        flex-direction: column;
    }


    .sidebar ul {
        display: flex;
        align-items: center;
        overflow-x: scroll;
        padding-bottom: 1rem;
        margin-top: 0;
    }

    .sidebar ul li {
        height: 100%;

    }


    ul li span {
        display: none;
    }

    section {
        overflow-x: auto;
    }

    li {
        display: inline-flex;

    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        height: auto;

    }

    header {
        order: 2;

    }


    .sidebar .logo-text {
        font-size: 2rem;
        text-align: center;

    }

    .sidebar .logo-text {
        display: block;
        font-size: 2rem;
        text-align: center;

    }

    .sidebar .logo-text.hide-logo-text {
        display: none
    }


    .menu-bar .mode {
        display: none;

    }

    .mobile-mode {
        opacity: 1;
        visibility: visible;
    }

    .menu-bar .mobile-mode {
        position: relative;

    }


    .mobile-moon,
    .mobile-sun {
        cursor: pointer;
        position: absolute;
    }

    .menu-bar .mobile-mode i.mobile-sun {
        opacity: 0;
    }

    body.dark .menu-bar .mobile-mode i.mobile-sun {
        opacity: 1
    }

    body.dark .menu-bar .mobile-mode i.mobile-moon {
        opacity: 0
    }

    .menu-links .nav-link-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .sidebar .search-box {
        display: none;
    }


    .sidebar .mobile-search-box.hide-mobile-search-box {
        display: none;
        transition: var(--tran-05);
    }

    .sidebar .mobile-search-box {
        display: block;
        background: var(--primary-color-light);
        border-radius: 6px;
        transition: var(--tran-05);
        webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
    }

    .mobile-search-box input {
        background: var(--primary-color-light);
        border: none;
        border-radius: 6px;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 500;
        height: 100%;
        outline: none;
        transition: var(--tran-05);
        width: 80%;
        margin-left: .5rem;
    }



    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* ========== END OF NAVIGATION ==========*/



    /* ========== FOOTER ==========*/

    .footer_container {
        height: 45rem;
    }


    .top_footer {
        height: 30rem;
        justify-content: space-around;
    }

    .footer_links_container {
        width: 100%;
        display: grid;
        grid-template-columns: 27% 27% 27%;
    }

    .footer_about_title h3 {
        text-align: left;

    }

    .footer_about_options li a {
        text-align: left;
        width: 9rem;
    }

    /* ========== END OF FOOTER ==========*/


    /* ========== SIGN UP MODAL ========== */

    /* Modal background */
    .sign_up_modal {
        /* Hidden by default */
        display: none;

        /* Enable scroll if needed */
        position: fixed;
        z-index: 1000;
        left: 5%;
        top: 1%;

        width: 90%;
        height: 80%;
        overflow: auto;

        /* Black background with opacity */
        background-color: rgba(0, 0, 0, 0.4);

    }

    /* Modal content */
    .sign_up_modal_content {
        background-color: #fff;
        /* margin: 15% auto; */

        /* Center it */
        padding: 1rem 1rem;
        border: 1px solid #888;
        width: 85%;

        /* Adjust width */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: 2px solid var(--text-color);

        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 90%;
        margin: 2.5% auto;
    }

}


/* =============== MEDIA QUERIES (EXTRA-SMALL DEVICES) =============== */
@media screen and (max-width: 450px) {
    .container {
        border: 2px solid #28f1c9;
        /* width: 100%; */
    }


    /* ============== NAVIGATION ==============*/

    .bx-chevron-right {
        opacity: 0;
    }

    .sidebar.close,
    .sidebar {
        border-top: 1px solid var(--text-color);

        bottom: 0;
        top: unset;
        position: fixed;
        height: 10.5rem;
        width: 100%;
        border-right: none;
        display: flex;
        flex-direction: column;
    }


    .sidebar ul {
        align-items: center;
        display: flex;
        height: auto;
        margin-top: 0;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .sidebar ul li {
        height: 100%;


    }


    ul li span {
        display: none;
    }

    section {
        overflow-x: auto;

    }

    li {
        display: inline-flex;


    }

    .menu {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        height: auto;
    }

    header {
        order: 2;


    }


    .sidebar .logo-text {
        font-size: 2rem;
        text-align: center;


    }

    .sidebar .logo-text {
        display: block;
        font-size: 2rem;
        text-align: center;

    }

    .sidebar .logo-text.hide-logo-text {
        display: none
    }


    .menu-bar .mode {
        display: none;

    }

    .mobile-mode {
        opacity: 1;
        visibility: visible;
    }

    .menu-bar .mobile-mode {
        position: relative;

    }


    .mobile-moon,
    .mobile-sun {
        cursor: pointer;
        position: absolute;
    }

    .menu-bar .mobile-mode i.mobile-sun {
        opacity: 0;
    }

    body.dark .menu-bar .mobile-mode i.mobile-sun {
        opacity: 1
    }

    body.dark .menu-bar .mobile-mode i.mobile-moon {
        opacity: 0
    }

    .menu-links .nav-link-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .sidebar .search-box {
        display: none;
    }


    .sidebar .mobile-search-box.hide-mobile-search-box {
        display: none;
        transition: var(--tran-05);
    }

    .sidebar .mobile-search-box {
        display: block;
        background: var(--primary-color-light);
        border-radius: 6px;
        transition: var(--tran-05);
        webkit-animation: fadeIn 0.5s;
        animation: fadeIn 0.5s;
    }

    .mobile-search-box input {
        background: var(--primary-color-light);
        border: none;
        border-radius: 6px;
        color: var(--text-color);
        font-size: 1rem;
        font-weight: 500;
        height: 100%;
        outline: none;
        transition: var(--tran-05);
        width: 80%;
        margin-left: .5rem;
    }



    @-webkit-keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* ========== END OF NAVIGATION ==========*/

    /* =============== FOOTER =============== */

    .footer_container {
        height: 63rem;
    }

    .top_footer {
        height: 46rem;
    }

    .footer_logo_social_container {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    footer span div.logo-text {
        text-align: center;
    }


    .footer_links_container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer_about_title h3 {
        text-align: center;
    }


    .footer_about_container {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .footer_about_options {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer_about_options li a {
        text-align: center;
        width: 9rem;
        justify-content: center;
    }

    .bottom_footer {
        height: 10rem;
    }

    .footer_terms_container ul {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        gap: .75rem;
        width: 100%;
    }


    /* ========== SIGN UP MODAL ========== */



    /* Modal content */
    .sign_up_modal_content {
        background-color: #fff;
        /* margin: 15% auto; */

        /* Center it */
        padding: 1rem 1rem;
        border: 1px solid #888;
        width: 100%;

        /* Adjust width */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        border: 2px solid var(--text-color);

        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 90%;
        margin: 2.5% auto;
    }

}