{% extends "layout.html" %}
{% load static %}


{% block title %}
Dashboard
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Dashboard</h2>
        </div>
        <div class="admin_navigation_section">
            <div class="admin_navigation_container">
                <ul>
                    {% for item in admin_navigation %}
                    <li class="button_medium">
                        <a href="{% url 'pop_accounts:'|add:item.url %}">{{ item.label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="the_dashboard_container">
            <div class="personal_interest_notice_container">
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>En Route</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_inventory_container">
                        <ul>
                            {% for en in en_route %}
                            <li>
                                <a href="{{ pi.get_absolute_url }}"> {{ en.specs.model_year}} {{ en.product_title }}
                                    {{ en.secondary_product_title}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="{% url 'pop_accounts:enroute' %}">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Inventory</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_inventory_container">
                        <ul>
                            {% for pi in product_inventory %}
                            {% for spec in pi.popupproductspecificationvalue_set.all|slice:"2:3" %}
                            <li>
                                <a href="{{ pi.get_absolute_url }}">{{ spec }} {{ pi.product_title }}
                                    {{ pi.secondary_product_title}}
                                </a>
                            </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="{% url 'pop_accounts:inventory_admin' %}">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Most On Notice</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_inventory_container">
                        {% if top_notified_products %}
                        <ul>
                            {% for tnp in top_notified_products %}
                            <li>
                                <a href="{{ tnp.get_absolute_url }}">
                                    {{ tnp.specs.model_year }} {{ tnp.product_title }} {{tnp.secondary_product_title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Nothing in Notify Me List</p>
                        {% endif %}
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="{% url 'pop_accounts:most_on_notice' %}">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Most Interested</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_inventory_container">
                        {% if top_interested_products%}
                        <ul>
                            {% for tip in top_interested_products %}
                            <li>
                                <a href="#">
                                    {{ tip.specs.model_year }} {{ tip.product_title }} {{ tip.secondary_product_title }}

                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>Nothing in Most Interest List</p>
                        {% endif %}
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="{% url 'pop_accounts:most_interested' %}">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Total Open Bids</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>22</h2>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="personal-information">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Sales</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>$105,500.50</h2>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="{% url 'pop_accounts:sales_admin' %}">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Total Accounts</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>2,000</h2>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="personal-information">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Account Sizes</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sizes_container">
                        <ul>
                            <li>
                                <p>500</p>
                                <p>9.5 US</p>
                                <p>M</p>
                            </li>
                            <li>
                                <p>235</p>
                                <p>9 US</p>
                                <p>M</p>
                            </li>
                            <li>
                                <p>122</p>
                                <p>7.5 US</p>
                                <p>M</p>
                            </li>

                        </ul>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="personal-information">See More</a>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}