{% extends "layout.html" %}
{% load static %}


{% block title %}
Dashboard
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Dashboard</h2>
        </div>
        <div class="the_dashboard_container">
            <div class="personal_interest_notice_container">
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Inventory</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_inventory_container">
                        <ul>
                            <li><a href="#">2024 Jordan 1 Retro Low OG SP</a></li>
                            <li><a href="#">2024 Travis Scott Medium Olive</a></li>
                        </ul>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="inventory-admin">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Sales</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>$105,500.50</h2>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="sales-admin">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Most On Notice</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_inventory_container">
                        <ul>
                            <li>
                                <a href="">2024 Air Force 3 Low x Nigo Blue Void and Tour Yellow</a>
                            </li>
                            <li>
                                <a href="">2024 Nike SB Dunk Low Pro Light Carbon and Monarch</a>
                            </li>
                        </ul>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="most-on-notice-admin">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Most Interested</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_inventory_container">
                        <ul>
                            <li><a href="#">2024 Jordan 1 Retro Low OG SP</a></li>
                            <li><a href="#">2024 Travis Scott Medium Olive</a></li>
                        </ul>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="most-interested-admin">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Total Open Bids</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>22</h2>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="personal-information">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Total Accounts</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>2,000</h2>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="personal-information">See More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Account Sizes</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sizes_container">
                        <ul>
                            <li>
                                <p>500</p>
                                <p>9.5 US</p>
                                <p>M</p>
                            </li>
                            <li>
                                <p>235</p>
                                <p>9 US</p>
                                <p>M</p>
                            </li>
                            <li>
                                <p>122</p>
                                <p>7.5 US</p>
                                <p>M</p>
                            </li>

                        </ul>
                    </div>
                    <div class="dashboard_admin_more_container">
                        <a href="personal-information">See More</a>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}