{% extends "layout.html" %}
{% load static %}
{% load find_integer %}

{% block title %}
Inventory
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Inventory</h2>
        </div>
        <div class="the_inventory_container">
            <div class="inventory_item_select">
                <ul>
                    <li {% if not product_type %} class="selected" {% endif %}>
                        <a href="{% url 'pop_accounts:inventory_admin' %}">All</a>
                    </li>

                    {% for c in product_types %}
                    {% if product_type and product_type.slug == c.slug %}
                    <li class="selected">
                        {% else %}
                    <li>
                        {% endif %}
                        <a href="{% url 'pop_accounts:inventory_admin' c.slug %}">{{ c.name|capfirst }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="inventory_notice_container">
                <div class="inventory_shoe_items_container">
                    {% if inventory %}
                    <ul>
                        {% for i in inventory %}
                        <li>
                            <p class="inventory_count">1</p>
                            <p class="inventory_year">
                                {{ i.specs.model_year }}
                            </p>
                            <a class="inventory_item" href="{{ i.product.get_absolute_url }}">
                                {{ i.product_title }}
                                {{ i.secondary_product_title}}
                            </a>


                            {% if i.specs.size %}
                            {% if i.specs.size|is_val_integer %}
                            <p class="inventory_size">{{ i.specs.size}} US</p>
                            {% elif not i.specs.size|is_val_integer %}
                            <p class="inventory_size">{{ i.specs.size}}</p>
                            {% endif %}

                            {% if i.specs.product_sex == "Male" %}
                            <p class="inventory_gen">M</p>
                            {% elif i.specs.product_sex == "Female" %}
                            <p class="inventory_gen">F</p>
                            {% else %}
                            <p>--</p>
                            {% endif %}

                            {% endif %}
                            <button class="button_small">Edit</button>
                        </li>
                        {% endfor %}
                        {% else %}
                        <p>Nothing en route</p>
                        {% endif %}
                </div>
            </div>

            {% comment %}
            <div class="inventory_notice_container">
                <div class="inventory_clothing_items_container">
                    <ul>
                        <li>
                            <p class="inventory_count">1</p>
                            <p class="inventory_year">2024</p>
                            <a class="inventory_item" href="#">Supreme Matte Black T</a>
                            <p class="inventory_size">Med</p>
                            <p class="inventory_gen">M</p>
                            <button class="button_small">Edit</button>
                        </li>
                        <li>
                            <p class="inventory_count">1</p>
                            <p class="inventory_year">2025</p>
                            <a class="inventory_item" href="#">Louis Vuitton x Fear of God Hoodie</a>
                            <p class="inventory_size">Large</p>
                            <p class="inventory_gen">M</p>
                            <button class="button_small">Edit</button>
                        </li>
                        <li>
                            <p class="inventory_count">1</p>
                            <p class="inventory_year">2025</p>
                            <a class="inventory_item" href="">Fear of God Wool Hoodie</a>
                            <p class="inventory_size">Med</p>
                            <p class="inventory_gen">M</p>
                            <button class="button_small">Edit</button>
                        </li>
                        <li>
                            <p class="inventory_count">1</p>
                            <p class="inventory_year">2015</p>
                            <a class="inventory_item" href="">Hermes Vingtage Tie</a>
                            <p class="inventory_size">N/A</p>
                            <p class="inventory_gen">M</p>
                            <button class="button_small">Edit</button>
                        </li>
                    </ul>
                </div>
            </div>
            {% endcomment %}
        </div>
</section>

{% endblock %}