.past_purchases_databox_headers {
    color: var(--text-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    text-decoration: underline;
}


.past_purchases_inner_container {
    margin-top: .5rem;

}


.past_purchases_items_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: var(--chevron-color);

    margin-bottom: .75rem;
    text-align: center;


}