.past_purchases_databox_headers {
    color: var(--text-color);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    text-align: center;
    text-decoration: underline;
}


.past_purchases_inner_container {
    margin-top: .5rem;

}


.past_purchases_items_container {
    align-items: center;
    color: var(--chevron-color);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin-bottom: .75rem;
    text-align: center;
}