{% extends "layout.html" %}
{% load static %}
{% load custom_math %}
{% load email_filters %}
{% load humanize %}

{% block title %}
Dashboard
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Dashboard</h2>
        </div>
        <div class="the_dashboard_container">
            <div class="personal_interest_notice_container">
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div><i class='bx bx-user-circle dashboard_icon'></i></div>
                        <h2>Personal</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_size_container">
                        <p>Size</p>
                        {% if user.size_gender == "male" %}
                        <p class="dashboard_databox_assign_left">U.S. {{"Men's"}} {{ user.shoe_size }}</p>
                        {% else %}
                        <p class="dashboard_databox_assign_left">U.S. {{"Women's"}} {{ user.shoe_size }}</p>
                        {% endif %}
                        <a href="#" id="dashboardSizeEditBtn">Edit</a>
                    </div>
                    <div class="dashboard_location_container">
                        <p>Location</p>
                        {% for address in addresses %}
                        <p class="dashboard_databox_assign_left">{{ address.town_city }}, {{ address.postcode }}</p>
                        {% endfor %}
                        <a href="#" id="dashboardLocationEditBtn">Edit</a>
                    </div>
                    <div class="dashboard_payment_container">
                        <p>Payment</p>
                        <p class="dashboard_databox_assign_left">Mastercard ...5404</p>
                        <a href="#" id="dashboardPaymentEditBtn">Edit</a>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="{% url 'pop_accounts:personal_info' %}">More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div><i class='bx bxs-flag-alt dashboard_icon'></i></div>
                        <h2>Coming Soon On Notice</h2>
                        <i class='bx bxs-info-circle info-icon'>
                            <span class="tooltip-text">These are items that you will receive notice about when they go
                                up for auction.</span>
                        </i>
                    </div>
                    <div class="dashboard_interest_container">
                        <ul>
                            {% for prod in prods_on_notice_for %}
                            <li id="product-two-{{ prod.id }}">
                                <a href="/">{{ prod }} {{prod.secondary_product_title }}</a>
                                <input type="checkbox" class="on_notice_checkbox" data-product-id="{{ prod.id }}"
                                    checked>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="{% url 'pop_accounts:on_notice' %}">More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div><i class='bx bx-list-plus dashboard_icon'></i></div>
                        <h2>Future Releases Interest In</h2>
                        <i class='bx bxs-info-circle info-icon'>
                            <span class="tooltip-text">
                                These are future releases that you've notified us that you are interested in.
                                To remove from list, uncheck box.
                            </span>
                        </i>
                    </div>
                    <div class="dashboard_interest_container">
                        <ul>
                            {% for prod in prod_interested_in %}
                            <li id="product-{{ prod.id }}">
                                <a href="/">{{ prod }} {{ prod.secondary_product_title }}</a>
                                <input type="checkbox" class="interested_checkbox" data-product-id="{{ prod.id }}"
                                    checked>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="{% url 'pop_accounts:interested_in' %}">More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div><i class='bx bxs-truck dashboard_icon'></i></div>
                        <h2>Shipping & Tracking</h2>
                        <div class="blank_div"></div>
                    </div>
                    {% for shipment in shipments %}
                    <div class="dashboard_interest_container">
                        <ul>
                            <li>

                                <a href="{% url 'pop_accounts:shipping_tracking' %}">
                                    {{ shipment.model_year }}
                                    {{ shipment.product_title }}
                                    {{ shipment.secondary_product_title }}
                                </a>

                                <a href="{% url 'pop_accounts:shipping_tracking' %}">
                                    {{ shipment.shipment.status|title }}</a>
                            </li>
                        </ul>
                    </div>
                    {% endfor %}

                    {% comment %}
                    {% for shipment_info in shipments %}
                    <div class="shipment-card">
                        <h3>Order #{{ shipment_info.order.id }}</h3>
                        <p><strong>Status:</strong> {{ shipment_info.shipment.status }}</p>
                        <p><strong>Carrier:</strong> {{ shipment_info.shipment.carrier }}</p>
                        <p><strong>Tracking:</strong> {{ shipment_info.shipment.tracking_number }}</p>

                        <h4>Products:</h4>
                        {% for product in shipment_info.products %}
                        <div class="product-info">
                            <p><strong>{{ product.product_title }}</strong></p>
                            <p>Model Year: {{ product.specs.model_year|default:"Not specified" }}</p>
                        </div>
                        {% endfor %}

                        <h4>Shipping Address:</h4>
                        <p>{{ shipment_info.order.full_name }}</p>
                        <p>{{ shipment_info.order.address1 }}</p>
                        {% if shipment_info.order.address2 %}
                        <p>{{ shipment_info.order.address2 }}</p>
                        {% endif %}
                        <p>{{ shipment_info.order.city }}, {{ shipment_info.order.state }}
                            {{shipment_info.order.postal_code }}</p>
                    </div>
                    {% endfor %}
                    {% endcomment %}

                    <div class="dashboard_more_container">
                        <a href="{% url 'pop_accounts:shipping_tracking' %}">More</a>
                    </div>

                </div>
            </div>
            <div class="bids_purchases_container">
                <div class="dashboard_databox_large">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Open Bids</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_open_bids_container">
                        <div class="dashboard_databox_headers">
                            <h3>Item</h3>
                            <h3>Last Bid</h3>
                            <h3>Bid Status</h3>
                            <h3>Bid Action</h3>
                        </div>
                        <div class="dashboard_open_bids">
                            {% for hb in open_bids %}
                            <div class="indi_bids">
                                <div class="indi_bids_item">
                                    <a href="{% url 'auction:product_auction' hb.product.slug %}">
                                        <p>{{ hb.product }} {{ hb.product.secondary_product_title }}</p>
                                    </a>
                                </div>
                                <div class="indi_bids_last_bid">
                                    <p>${{ hb.highest_user_bid.amount }}</p>
                                </div>
                                <div class="indi_bids_bid_status">
                                    {% if hb.highest_user_bid.amount == hb.current_highest %}
                                    <p>Current Top Bid</p>
                                    {% else %}
                                    <p>Losing Bid</p>
                                    {% endif %}
                                </div>

                                <div class="indi_bids_action">
                                    {% if hb.highest_user_bid.amount != hb.current_highest %}
                                    <button class="button_long_white bidButtonClass"
                                        data-product-id="{{ hb.product.id }}">Adjust Bid</button>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Bid Modal -->
                            <div class="modal fade" id="bidModal-{{ hb.product.id }}" tabindex="-1"
                                aria-labelledby="bidModalLabel" aria-hidden="true">
                                <div class="modal_content">

                                    <div class="modal_header">
                                        <h3 class="modal-title" id="bidModalLabel">Increase Your Bid</h3>
                                        <button type="button" class="btn-close closeModal" aria-label="Close">X</button>
                                    </div>
                                    <div class="modal_bid_shipping_days_left">
                                        <div class="modal_bid_and_shipping">
                                            <h5>${{ hb.current_highest }}</h5>
                                            <h5> + Shipping</h5>
                                        </div>
                                        <div class="modal_bid_numb_of_bids">
                                            <h5><span>{{ hb.bid_count }}</span>bids</h5>
                                        </div>
                                        <div class="modal_bid_days_left">
                                            {% if hb.duration.days > 1 %}
                                            <h5><span>{{ hb.duration.days }}</span>days left</h5>
                                            {% else %}
                                            <h5><span>{{ hb.duration.days }}</span>day left</h5>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="modal_body">
                                        <form class="bidForm" id="bidForm-{{ hb.product.id }}" method="post"
                                            data-product-id="{{ hb.product.id }}"
                                            action="{% url 'auction:place_bid' %}">
                                            {% csrf_token %}
                                            <div id="predefined_bids-{{ hb.id }}" class="predefined_bids"
                                                data-product-id="{{ hb.product.id }}">
                                                {% if hb.current_highest %}
                                                {% for inc in quick_bid_increments %}
                                                {% with new_bid=hb.current_highest|compute_number:inc %}
                                                <button type="button" data-amount="{{ new_bid }}"
                                                    class="button_long_small quick_bid">Bid <span>
                                                        ${{new_bid|intcomma }}.00</span></button>
                                                {% endwith %}
                                                {% endfor %}
                                                {% endif %}
                                                <button class="button_long_small">Cancel Bids</button>
                                            </div>

                                            <div class="bid_modal_input_container">
                                                <input type="hidden" name="product_id" value="{{ hb.product.id }}">
                                                <label for="custom_bid"><span>or enter your bid</span></label>
                                                <div class="modal_bid_input_submit_btn">
                                                    <div class="outer_input_container">
                                                        <h4>$</h4>
                                                        <input type="number" step="0.01"
                                                            id="custom_bid-{{ hb.product.id }}" name="bid_amount"
                                                            class="form-control" required
                                                            min="{{ hb.current_highest|compute_number:1|intcomma}}.00"
                                                            placeholder="Enter custom bid">
                                                    </div>
                                                    <div class="mt-3">
                                                        <button type="submit" class="btn button_long_small"
                                                            id="submitBid-{{ hb.product.id }}">Submit
                                                            Bid</button>
                                                    </div>
                                                </div>
                                                {% if hb.current_highest %}
                                                <p class="bid_hint">Enter
                                                    <span>${{hb.current_highest|compute_number:1|intcomma}}.00</span>
                                                    or more
                                                </p>
                                                {% else %}
                                                <p class="bid_hint">Enter
                                                    <span>${{hb.retail_price|compute_number:1|intcomma}}.00</span>
                                                    or more
                                                </p>
                                                {% endif %}
                                            </div>
                                        </form>
                                        <div class="bid_response" style="color:red"></div>
                                    </div>
                                    <div class="modal_user_abbr_user_info">
                                        <div class="modal_user_pay_email_shipping_container">
                                            <img class="modal_user_card_img" src="{% static 'img/tiny-paypal.png' %}"
                                                alt="{{ image.image.alt_text}}">
                                            {% if user.is_authenticated %}
                                            <p>{{ user.email|obfuscate_email }}</p>
                                            {% endif %}
                                            {% for address in addresses %}
                                            <p>ship to <span>{{ address.postcode }}</span></p>
                                            {% endfor %}
                                        </div>
                                        <div class="modal_user_info_update_container">
                                            <a href="/">Update</a>
                                        </div>
                                    </div>
                                    <div class="modal_purchase_disclaimer">
                                        <p>
                                            By selecting to submit bid, you authorize The Pop Up to bid up to
                                            your max
                                            bid and if
                                            you win, charge your bid amount and related costs to your
                                            <span>PayPal</span> account.
                                            You also agree to The Pop Up's User Agreement and Privacy Notice.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End of Bid Modal -->
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="{% url 'pop_accounts:open_bids' %}">More</a>
                    </div>
                </div>
                <div class="dashboard_databox_large">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Past Bids</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_past_bids_container">
                        <div class="dashboard_databox_past_bids_headers">
                            <h3>Items</h3>
                            <h3>Last Bid</h3>
                            <h3>Bid Status</h3>
                        </div>
                        <div class="dashboard_open_bids">
                            {% for bid in bid_history %}
                            <div class="indi_past_bids">
                                <div class="indi_past_bid_items">
                                    <a href="{% url 'auction:past_bids_product_detail' bid.product.id%}">
                                        <p>{{ bid.mptt_specs.model_year }} {{ bid.product.product_title }} <br>
                                            {{ bid.product.secondary_product_title }}
                                        </p>
                                    </a>
                                </div>
                                <div class="indi_past_bid_last_bid">
                                    <p>${{ bid.bid_amount}}</p>
                                </div>
                                <div class="indi_past_bid_bid_status">
                                    {% if bid.is_winning == True %}
                                    <p>Winning Bid</p>
                                    {% else %}
                                    <p>Losing Bid</p>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="{% url 'pop_accounts:past_bids' %}">More</a>
                    </div>
                </div>
                <div class="dashboard_databox_large">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Past Purchases</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_past_bids_container">
                        <div class="dashboard_databox_past_bids_headers">
                            <h3>Items</h3>
                            <h3>Date Purchased</h3>
                            <h3>Shipped To</h3>
                        </div>
                        <div class="dashboard_open_bids">
                            {% for order in orders %}
                            <div class="indi_past_purchases">

                                <div class="indi_past_purchases_items">
                                    {% for item in order.items.all %}
                                    <a href="{% url 'auction:past_product_details' item.id %}">
                                        <p>{{ item.product_title }} <br> {{ item.secondary_product_title}}</p>
                                    </a>
                                    {% endfor %}
                                </div>
                                <div class="indi_past_bid_last_bid">
                                    <p>{{ order.created_at|date:"M d, Y"}}</p>
                                </div>

                                <div class="indi_past_bid_bid_status">
                                    <p>{{ order.shipping_address.town_city}},
                                        {{ order.shipping_address.state }}
                                        {{ order.shipping_address.postcode }}
                                    </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="{% url 'pop_accounts:past_purchases' %}">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Size Edit Modal -->
    <div class="modal fade" id="sizeEditModal" tabindex="-1" aria-labelledby="bidModalLabel" aria-hidden="true">
        <div class="modal_content">
            <div class="modal_header">
                <h3 class="modal-title" id="bidModalLabel">Size Selection</h3>
                <button type="button" class="btn-close closeSizeEditModal" aria-label="Close">X</button>
            </div>
            <div class="size_option_gender_container">
                <form action="">
                    <div class="size_gender_container">
                        <button class="button_small_white">Mens</button>
                        <button class="button_small_white">Womens</button>
                    </div>
                </form>
                <form action="">
                    <div class="size_options_container">
                        <button class="button_smaller_white">5 US</button>
                        <button class="button_smaller_white">5.5 US</button>
                        <button class="button_smaller_white">6 US</button>
                        <button class="button_smaller_white">6.5 US</button>
                        <button class="button_smaller_white">7 US</button>
                        <button class="button_smaller_white">7.5 US</button>
                        <button class="button_smaller_white">8 US</button>
                        <button class="button_smaller_white">8.5 US</button>
                        <button class="button_smaller_white">9 US</button>
                        <button class="button_smaller_white">9.5 US</button>
                        <button class="button_smaller_white">10 US</button>
                        <button class="button_smaller_white">10.5 US</button>
                        <button class="button_smaller_white">11 US</button>
                        <button class="button_smaller_white">11.5 US</button>
                        <button class="button_smaller_white">12 US</button>
                        <button class="button_smaller_white">12.5 US</button>
                        <button class="button_smaller_white">13 US</button>
                        <button class="button_smaller_white">13.5 US</button>
                        <button class="button_smaller_white">14 US</button>
                        <button class="button_smaller_white">14.5 US</button>
                        <button class="button_smaller_white">15 US</button>
                        <button class="button_smaller_white">15.5 US</button>
                        <button class="button_smaller_white">16 US</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Size Edit Modal -->

    <!-- Address Modal -->
    <div class="modal fade" id="locationEditModal" tabindex="-1" aria-labelledby="bidModalLabel" aria-hidden="true">
        <div class="modal_content">
            <div class="modal_header">
                <h3 class="modal-title" id="bidModalLabel">Location</h3>
                <button type="button" class="btn-close closeLocationEditModal" aria-label="Close">X</button>
            </div>
            <div class="dashbaord_location_update_container">
                <form action="" method="post">
                    <div class="modal_name_inputs">
                        <label>Street Address 1</label>
                        <input type="text" class="modal_street_address_one_input" />
                    </div>
                    <div class="modal_name_inputs">
                        <label>Street Address 2</label>
                        <input type="text" class="modal_street_address_two_input" />
                    </div>
                    <div class="modal_name_inputs">
                        <label>Apt/Ste</label>
                        <input type="text" class="modal_address_zip_input" />
                    </div>
                    <div class="modal_name_inputs">
                        <label>City</label>
                        <input type="text" class="modal_address_city_input" />
                    </div>
                    <div class="modal_name_inputs">
                        <label for="state">State</label>
                        <select name="state" id="state">
                            <option value="AL">Alabama</option>
                            <option value="AK">Alaska</option>
                            <option value="AZ">Arizona</option>
                            <option value="AR">Arkansas</option>
                            <option value="CA">California</option>
                            <option value="CO">Colorado</option>
                            <option value="CT">Connecticut</option>
                            <option value="DE">Delaware</option>
                            <option value="DC">District Of Columbia</option>
                            <option value="FL">Florida</option>
                            <option value="GA">Georgia</option>
                            <option value="HI">Hawaii</option>
                            <option value="ID">Idaho</option>
                            <option value="IL">Illinois</option>
                            <option value="IN">Indiana</option>
                            <option value="IA">Iowa</option>
                            <option value="KS">Kansas</option>
                            <option value="KY">Kentucky</option>
                            <option value="LA">Louisiana</option>
                            <option value="ME">Maine</option>
                            <option value="MD">Maryland</option>
                            <option value="MA">Massachusetts</option>
                            <option value="MI">Michigan</option>
                            <option value="MN">Minnesota</option>
                            <option value="MS">Mississippi</option>
                            <option value="MO">Missouri</option>
                            <option value="MT">Montana</option>
                            <option value="NE">Nebraska</option>
                            <option value="NV">Nevada</option>
                            <option value="NH">New Hampshire</option>
                            <option value="NJ">New Jersey</option>
                            <option value="NM">New Mexico</option>
                            <option value="NY">New York</option>
                            <option value="NC">North Carolina</option>
                            <option value="ND">North Dakota</option>
                            <option value="OH">Ohio</option>
                            <option value="OK">Oklahoma</option>
                            <option value="OR">Oregon</option>
                            <option value="PA">Pennsylvania</option>
                            <option value="RI">Rhode Island</option>
                            <option value="SC">South Carolina</option>
                            <option value="SD">South Dakota</option>
                            <option value="TN">Tennessee</option>
                            <option value="TX">Texas</option>
                            <option value="UT">Utah</option>
                            <option value="VT">Vermont</option>
                            <option value="VA">Virginia</option>
                            <option value="WA">Washington</option>
                            <option value="WV">West Virginia</option>
                            <option value="WI">Wisconsin</option>
                            <option value="WY">Wyoming</option>
                        </select>
                    </div>
                    <div class="modal_name_inputs">
                        <label>Zip Code</label>
                        <input type="text" class="modal_address_zip_input" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End of Address Modal -->

    <!-- Payment Modal -->
    <div class="modal fade" id="paymentEditModal" tabindex="-1" aria-labelledby="bidModalLabel" aria-hidden="true">
        <div class="modal_content">
            <div class="modal_header">
                <h3 class="modal-title" id="bidModalLabel">Payment</h3>
                <button type="button" class="btn-close closePaymentEditModal" aria-label="Close">X</button>
            </div>
            <div class="dashbaord_location_update_container">
                <form action="" method="post">
                    <div class="modal_name_inputs">
                        <select name="dashboardPaymentEdit" id="dashboardPaymentEdit">
                            <option value="Mastercard">Mastercard</option>
                            <option value="Visa">Visa</option>
                            <option value="Discover">Discover</option>
                            <option value="PayPal">PayPal</option>
                            <option value="Venmo">Venmo</option>
                            <option value="DAI / USDC">DAI / USDC</option>
                            <option value="Apple Pay">Apple Pay</option>
                            <option value="Google Pay">Google Pay</option>
                        </select>
                    </div>
                    <div class="modal_name_inputs">
                        <label>Card No.</label>
                        <input type="number" class="modal_street_address_two_input" />
                    </div>

                    <div class="modal_name_inputs">
                        <label>Expiration Date</label>
                        <input type="text" class="modal_address_zip_input" />
                    </div>

                    <div class="modal_name_inputs">
                        <label>CVV</label>
                        <input type="number" class="modal_address_zip_input" />
                    </div>
                    <div class="modal_name_inputs">
                        <label>Name on card.</label>
                        <input type="text" class="modal_street_address_two_input" />
                    </div>

                    <div class="payment_edit_button_container">
                        <button class="button_medium">Cancel</button>
                        <button class="button_medium">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <!-- End of Payment Modal -->
</section>

{% endblock %}