{% extends "layout.html" %}
{% load static %}
{% load custom_math %}
{% load email_filters %}
{% load humanize %}

{% block title %}
Auction
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Open Bids</h2>
        </div>
        <div class="interested_in_container">
            <div class="interested_in_open_bids_container">
                <div class="interested_in_databox_headers">
                    <h3>Items</h3>
                    <h3>Size</h3>
                    <h3>Last Bid</h3>
                    <h3>Bid Status</h3>
                    <h3>Bid Action</h3>
                </div>
                <div class="open_bids_open_bids">
                    {% for hb in open_bids %}
                    <div class="open_bids_items_container">
                        <div class="open_bids_detail_item">
                            <a href="product-details">
                                <p>{{ hb.product }} {{ hb.product.secondary_product_title }}</p>
                            </a>
                        </div>
                        <div class="open_bids_detail_size">
                            {% for gen in hb.specs|slice:"5:6" %}
                            {% if gen.value == "Male" %}

                            <p>U.S. {{"Men's"}}
                                <span>
                                    {% for h in hb.specs|slice:"4:5" %}
                                    {{ h }}
                                    {% endfor %}
                                </span>
                            </p>
                            {% else %}
                            <p>U.S. {{"Womens's"}}
                                <span>
                                    {% for h in hb.specs|slice:"4:5" %}
                                    {{ h }}
                                    {% endfor %}
                                </span>
                            </p>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="open_bids_last_bid">
                            <p>${{ hb.highest_user_bid.amount }}</p>
                        </div>
                        <div class="open_bids_bid_status">
                            {% if hb.highest_user_bid.amount == hb.current_highest %}
                            <p>Current Top Bid</p>
                            {% else %}
                            <p>Losing Bid</p>
                            {% endif %}
                        </div>
                        <div class="indi_bids_action">
                            {% if hb.highest_user_bid.amount != hb.current_highest %}
                            <button id="opeBidsBidButton" class="button_medium bidButtonClass"
                                data-product-id="{{ hb.product.id }}">Increase Bid</button>
                            {% endif %}
                        </div>
                        <!-- Bid Modal -->
                        <div class="modal fade" id="bidModal-{{ hb.product.id }}" tabindex="-1"
                            aria-labelledby="bidModalLabel" aria-hidden="true">
                            <div class="modal_content">

                                <div class="modal_header">
                                    <h3 class="modal-title" id="bidModalLabel">Increase Your Bid</h3>
                                    <button type="button" class="btn-close closeModal" aria-label="Close">X</button>
                                </div>
                                <div class="modal_bid_shipping_days_left">
                                    <div class="modal_bid_and_shipping">
                                        <h5>${{ hb.current_highest }}</h5>
                                        <h5> + Shipping</h5>
                                    </div>
                                    <div class="modal_bid_numb_of_bids">
                                        <h5><span>{{ hb.bid_count }}</span>bids</h5>
                                    </div>
                                    <div class="modal_bid_days_left">
                                        {% if hb.duration.days > 1 %}
                                        <h5><span>{{ hb.duration.days }}</span>days left</h5>
                                        {% else %}
                                        <h5><span>{{ hb.duration.days }}</span>day left</h5>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="modal_body">
                                    <form class="bidForm" id="bidForm-{{ hb.product.id }}" method="post"
                                        data-product-id="{{ hb.product.id }}" action="{% url 'auction:place_bid' %}">
                                        {% csrf_token %}
                                        <div id="predefined_bids-{{ hb.id }}" class="predefined_bids"
                                            data-product-id="{{ hb.product.id }}">
                                            {% if hb.current_highest %}
                                            {% for inc in quick_bid_increments %}
                                            {% with new_bid=hb.current_highest|compute_number:inc %}
                                            <button type="button" data-amount="{{ new_bid }}"
                                                class="button_long_small quick_bid">Bid <span>
                                                    ${{new_bid|intcomma }}.00</span></button>
                                            {% endwith %}
                                            {% endfor %}
                                            {% endif %}
                                            <button class="button_long_small">Cancel Bids</button>
                                        </div>

                                        <div class="bid_modal_input_container">
                                            <input type="hidden" name="product_id" value="{{ hb.product.id }}">
                                            <label for="custom_bid"><span>or enter your bid</span></label>
                                            <div class="modal_bid_input_submit_btn">
                                                <div class="outer_input_container">
                                                    <h4>$</h4>
                                                    <input type="number" step="0.01" id="custom_bid-{{ hb.product.id }}"
                                                        name="bid_amount" class="form-control" required
                                                        min="{{ hb.current_highest|compute_number:1|intcomma}}.00"
                                                        placeholder="Enter custom bid">
                                                </div>
                                                <div class="mt-3">
                                                    <button type="submit" class="btn button_long_small"
                                                        id="submitBid-{{ hb.product.id }}">Submit
                                                        Bid</button>
                                                </div>
                                            </div>
                                            {% if hb.current_highest %}
                                            <p class="bid_hint">Enter
                                                <span>${{hb.current_highest|compute_number:1|intcomma}}.00</span>
                                                or more
                                            </p>
                                            {% else %}
                                            <p class="bid_hint">Enter
                                                <span>${{hb.retail_price|compute_number:1|intcomma}}.00</span>
                                                or more
                                            </p>
                                            {% endif %}
                                        </div>
                                    </form>
                                    <div class="bid_response" style="color:red"></div>
                                </div>
                                <div class="modal_user_abbr_user_info">
                                    <div class="modal_user_pay_email_shipping_container">

                                        {% for image in hb.product_image.all %}
                                        {% if image.is_feature %}
                                        <img class="modal_user_card_img" src="{{ image.image.url }}"
                                            alt="Responsive Image">
                                        {% endif %}
                                        {% endfor %}

                                        {% if user.is_authenticated %}
                                        <p>{{ user.email|obfuscate_email }}</p>
                                        {% endif %}
                                        {% for address in addresses %}
                                        <p>ship to <span>{{ address.postcode }}</span></p>
                                        {% endfor %}
                                    </div>
                                    <div class="modal_user_info_update_container">
                                        <a href="/">Update</a>
                                    </div>
                                </div>
                                <div class="modal_purchase_disclaimer">
                                    <p>
                                        By selecting to submit bid, you authorize The Pop Up to bid up to
                                        your max
                                        bid and if
                                        you win, charge your bid amount and related costs to your
                                        <span>PayPal</span> account.
                                        You also agree to The Pop Up's User Agreement and Privacy Notice.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- End of Bid Modal -->
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
</section>

{% endblock %}