{% extends "layout.html" %}
{% load static %}


{% block title %}
Past Purchases
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Past Purchases</h2>
        </div>
        <div class="interested_in_container">
            <div class="interested_in_open_bids_container">
                <div class="past_purchases_databox_headers">
                    <h3>Year</h3>
                    <h3>Item</h3>
                    <h3>Date Purchased</h3>
                    <h3>Delivered</h3>
                </div>
                <div class="interested_in_open_bids">
                    <div class="past_purchases_items_container">
                        <div class="interested_in_year">
                            <p>2004</p>
                        </div>
                        <div class="interested_in_item">
                            <a href="product-details">
                                <p>Jordan 1 Retro Low OG SP Travis Scott Medium Olive</p>
                            </a>
                        </div>
                        <div class="interested_in_size">
                            <p>6/20/2024</p>
                        </div>
                        <div class="interested_in_condition">
                            <p>St. Petersburg, FL 33711</p>
                        </div>
                    </div>
                    <div class="past_purchases_items_container">
                        <div class="interested_in_year">
                            <p>2024</p>
                        </div>
                        <div class="interested_in_item">
                            <a href="product-details">
                                <p>Nike Dunk Wu-Tang</p>
                            </a>
                        </div>
                        <div class="interested_in_size">
                            <p>3/20/2024</p>
                        </div>
                        <div class="interested_in_condition">
                            <p>South Ozone Park, NY 11434</p>
                        </div>
                    </div>
                    <div class="past_purchases_items_container">
                        <div class="interested_in_year">
                            <p>2016</p>
                        </div>
                        <div class="interested_in_item">
                            <a href="product-details">
                                <p>Jordan 11 Space Jam</p>
                            </a>
                        </div>
                        <div class="interested_in_size">
                            <p>1/10/2022</p>
                        </div>
                        <div class="interested_in_condition">
                            <p>Brooklyn, NY 11221</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}