{% extends "layout.html" %}
{% load static %}


{% block title %}
Auction
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Current Auction</h2>
        </div>
        <div class="the_auction_container">
            <div class="item_container_two databox_long">
                <a href="/auction/open" class="auction_product_detail_container">
                    <div class="auct_img_container">
                        <img class="min_img_fluid" src="{% static 'img/sneakerOne.png' %}"
                            alt="{{ image.image.alt_text}}">
                    </div>
                    <div class="auct_prod_title_container_two">
                        <h4>2024 Jordan 1 Retro Low OG SP Travis Scott Medium Olive</h4>
                    </div>
                    <div class="sub_auction_product_detail_container">
                        <h4>Size</h4>
                        <h4>US Men's 9</h4>
                    </div>
                    <div class="sub_auction_product_detail_container">
                        <h4>Condition</h4>
                        <h4>New</h4>
                    </div>
                </a>
                <div class="auction_prod_links_container">
                    <a href="/auction/product-buy" class="button_long">Buy Now $1,000</a>
                    <a href="/" class="button_long">Make Bid</a>
                </div>
                <div class="auction_product_auction_details">
                    <h4>Auction closes in</h4>
                    <h2>10</h2>
                    <h3>Days</h3>
                </div>
            </div>
            <div class="item_container_two databox_long">
                <a href="/auction/open" class="auction_product_detail_container">
                    <div class="auct_img_container">
                        <img class="min_img_fluid" src="{% static 'img/sneakerThree.png' %}"
                            alt="{{ image.image.alt_text}}">
                    </div>
                    <div class="auct_prod_title_container_two">
                        <h4>2024 Air Jordan 11 Retro Legend Blue / Columbia</h4>
                    </div>
                    <div class="sub_auction_product_detail_container">
                        <h4>Size</h4>
                        <h4>US Men's 9</h4>
                    </div>
                    <div class="sub_auction_product_detail_container">
                        <h4>Condition</h4>
                        <h4>New</h4>
                    </div>
                </a>
                <div class="auction_prod_links_container">
                    <a href="/auction/product-buy" class="button_long">Buy Now $1,000</a>
                    <a href="/" class="button_long">Make Bid</a>
                </div>
                <div class="auction_product_auction_details">
                    <h4>Auction closes in</h4>
                    <h2>15</h2>
                    <h3>Days</h3>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}