{% extends "layout.html" %}
{% load static %}
{% load custom_math %}
{% load email_filters %}
{% load humanize %}

{% block title %}
Auction
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Current Auction</h2>
        </div>
        <div class="the_auction_container">
            {% for i in in_auction %}
            <div class="item_container_two product_display_container_long">
                <a href="{% url 'auction:product_auction' i.slug %}" class="auction_product_detail_container">
                    <div class="auct_prod_title_container_two">
                        <h3>{{ i.product_title }}</h3>
                        <h3>{{ i.secondary_product_title }}</h3>
                    </div>
                    <div class="auct_img_container">
                        {% for image in i.product_image.all %}
                        {% if image.is_feature %}
                        <img class="min_img_fluid" src="{{ image.image }}" alt="{{ image.alt_text }}">
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="sub_auction_product_detail_container">

                        <h4>Size</h4>
                        {% if product_specifications.product_sex == "Male" %}
                        <h4>U.S. {{"Men's"}} {{product_specifications.size }}</h4>
                        {% else %}
                        <h4>U.S. {{"Women's"}} {{product_specifications.size }}</h4>
                        {% endif %}
                    </div>
                    <div class="sub_auction_product_detail_container">
                        <h4>Condition</h4>
                        <h4>{{product_specifications.condition|capfirst }}</h4>
                    </div>
                </a>
                <div class="auction_prod_links_container">
                    <div class="highest_bid_container">
                        {% if i.current_highest_bid %}
                        <h4>Highest Bid</h4>
                        <h2 class="current_bid_display" data-product-id="{{ i.id }}">
                            ${{i.current_highest_bid|intcomma}}
                        </h2>
                        {% else %}
                        <h3>Awaiting the first bid</h3>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                    <button class="button_long bidButtonClass" data-product-id="{{ i.id }}">Make Bid</button>
                    {% else %}
                    <button class="button_long loginPrompt">Sign in to Bid</button>
                    {% endif %}
                    <a href="{% url 'auction:product_buy' %}" class="button_long buy-now-button">Buy
                        ${{ i.starting_price|intcomma }}</a>
                </div>
                <div class="auction_product_auction_details">
                    {% if i.auction_duration %}
                    <h4>Auction closes in</h4>
                    <h2>{{ i.auction_duration.days}}</h2>
                    {% if i.auction_duration.days > 1 %}
                    <h3>Days</h3>
                    {% else %}
                    <h3>Day</h3>
                    {% endif %}
                    <div class="auction_product_auction_details_hours">
                        <h2>{{ i.auction_duration.hours}} <span>Hours</span></h2>
                    </div>
                    {% else %}
                    <h4>Auction Hasn't Started Yet</h4>
                    {% endif %}
                </div>
            </div>
            <!-- Bid Modal -->
            <div class="modal fade" id="bidModal-{{i.id}}" tabindex="-1" aria-labelledby="bidModalLabel"
                aria-hidden="true">
                <div class="modal_content">

                    <div class="modal_header">
                        <h3 class="modal-title" id="bidModalLabel">Place Your Bid</h3>
                        <button type="button" class="btn-close closeModal" aria-label="Close">X</button>
                    </div>
                    <div class="modal_bid_shipping_days_left">
                        <div class="modal_bid_and_shipping">
                            {% if i.current_highest_bid %}
                            <h5>${{i.current_highest_bid|compute_number:10|intcomma}}.00</h5>
                            {% else %}
                            <h5>Bid price</h5>
                            {% endif %}
                            <h5> + Shipping</h5>
                        </div>
                        <div class="modal_bid_numb_of_bids">
                            <h5 class="current_bid_count"><span class="current_bid_count_value"
                                    data-product-id="{{ i.id }}">{{ i.bid_count}}</span>bids
                            </h5>
                        </div>
                        <div class="modal_bid_days_left">
                            <h5><span>{{ i.auction_duration.days}}</span>days left</h5>
                        </div>
                    </div>
                    <div class="modal_body">
                        <form class="bidForm" id="bidForm-{{ i.id }}" method="POST"
                            action="{% url 'auction:place_bid' %}" data-product-id="{{ i.id }}">
                            {% csrf_token %}
                            <div id="predefined_bids-{{ i.id }}" class="predefined_bids" data-product-id="{{ i.id }}">
                                {% if i.current_highest_bid %}
                                {% for inc in quick_bid_increments %}
                                {% with new_bid=i.current_highest_bid|compute_number:inc %}
                                <button type="button" data-amount="{{ new_bid }}"
                                    class="button_long_small quick_bid">Bid <span>
                                        ${{new_bid|intcomma }}.00</span></button>
                                {% endwith %}
                                {% endfor %}
                                {% endif %}

                            </div>

                            <div class="bid_modal_input_container">
                                <input type="hidden" name="product_id" value="{{ i.id }}">
                                <label for="custom_bid">
                                    <span>or enter your bid</span>
                                </label>
                                <div class="modal_bid_input_submit_btn">
                                    <div class="outer_input_container">
                                        <h4>$</h4>

                                        <input type="number" step="0.01" id="custom_bid-{{ i.id }}" name="bid_amount"
                                            class="form-control" required
                                            min="{{ i.current_highest_bid|compute_number:1|intcomma}}.00"
                                            placeholder="Enter custom bid">
                                    </div>
                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-primary button_long_small"
                                            id="submitBid-{{ i.id }}">Submit
                                            Bid</button>
                                    </div>
                                </div>
                                {% if i.current_highest_bid %}
                                <p class="bid_hint">Enter
                                    <span>${{i.current_highest_bid|compute_number:1|intcomma}}.00</span> or more
                                </p>
                                {% else %}
                                <p class="bid_hint">Enter <span>${{i.retail_price|compute_number:1|intcomma}}.00</span>
                                    or more</p>
                                {% endif %}
                            </div>
                        </form>
                        <div class="bid_response" style="color:red"></div>
                    </div>
                    <div class="modal_user_abbr_user_info">
                        <div class="modal_user_pay_email_shipping_container">
                            <img class="modal_user_card_img" alt="Responsive image"
                                src="{% static 'img/tiny-paypal.png' %}" alt="{{ image.image.alt_text}}">
                            {% if user.is_authenticated %}
                            <p>{{ user.email|obfuscate_email }}</p>
                            {% endif %}
                            <p>ship to <span>{{ user_zip }}</span></p>
                        </div>
                        <div class="modal_user_info_update_container">
                            <a href="/">Update</a>
                        </div>
                    </div>
                    <div class="modal_purchase_disclaimer">
                        <p>
                            By selecting to submit bid, you authorize The Pop Up to bid up to your max bid and if
                            you win, charge your bid amount and related costs to your <span>PayPal</span> account.
                            You also agree to The Pop Up's User Agreement and Privacy Notice.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End of Bid Modal -->
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
<scrip src="{% static 'js/payment.js' %}">
    $(document).on('click', '.buy-now-button', function (e) {
    e.preventDefault();
    $.ajax({
    type: 'POST',
    url: '{% url "cart:cart_add" %}',
    data: {
    productid: $('.buy-now-button').val(),
    <!-- productqty: $('#select option:selected').text(), -->
    csrfmiddlewaretoken: "{{csrf_token}}",
    action: 'post'
    },
    success: function (json) {
    document.getElementById("basket-qty").innerHTML = json.qty
    },
    error: function (xhr, errmsg, err) {}
    });
    })
</scrip>