{% extends "layout.html" %}
{% load static %}


{% block title %}
Auction
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Jordan 11 Retro</h2>
            <h3>Legend Blue</h3>
        </div>
        <div class="product_details_container">
            <div class="product_details_container_left">
                <div class="pd_circle_image_container">
                    <div class="pd_background_circle"></div>
                    <img class="img_fluid_product_details" alt="Responsive image"
                        src="{% static 'img/sneakerThree.png' %}" alt="{{ image.image.alt_text}}" />
                </div>
            </div>
            <div class="pd_container_right">
                <div class="pd_details_container databox">
                    <div class="pd_details_size_container">
                        <p>Size</p>
                        <p class="pd_databox_assign_left">US Men's 9</p>
                    </div>
                    <div class="pd_details_condition_container">
                        <p>Condition</p>
                        <p class="pd_databox_assign_left">New</p>
                    </div>
                    <div class="pd_details_buy_now_container">
                        <p>Price</p>
                        <p class="pd_databox_assign_left">$1,000</p>
                    </div>
                </div>
                <div class="pd_buttons_container">
                    <a class="button_medium" href="/auction/product-buy">Buy Now</a>
                    <a class="button_medium" href="#">Add to Cart</a>
                </div>
            </div>
        </div>
        <div class="lower_auction_container">
            <div class="prod_auct_desc_container">
                <h3>Product Description</h3>
                <p>
                    Released on November 9, 2024, the Jordan 4 Retro Fear retailed for $215.
                    With its timeless design and connection to Jordan’s storied legacy, this sneaker is
                    a must-have for collectors and fashion enthusiasts alike, making it one of the most
                    sought-after releases of the year.
                </p>
            </div>
            <div class="prod_auct_details_container">
                <div class="auct_details_style_container">
                    <h4 class="prod_auct_details_title">Style</h4>
                    <p>BQ6806-0002</p>
                </div>
                <div class="auct_details_colorway_container">
                    <h4 class="prod_auct_details_title">Colorway</h4>
                    <p>Blue/White/White</p>
                </div>
                <div class="auct_details_release_container">
                    <h4 class="prod_auct_details_title">Release Date</h4>
                    <p>11/24/2024</p>
                </div>
                <div class="auct_details_retail_container">
                    <h4 class="prod_auct_details_title">Retail</h4>
                    <p>$120</p>
                </div>

            </div>
            <div class="verified_return_container">
                <div class="databox_medium_dark">
                    <div class="databox_medium_dark_title_box">
                        <i class='bx bx-award'></i>
                        <h3>100% Guaranteed Authentic</h3>
                    </div>
                    <p>
                        Always real. Really really real! If we don't use resellers. We buy it from the manufacturer and
                        resell.
                    </p>
                    <a href="/">Learn More</a>
                </div>
                <div class="databox_medium_dark">
                    <div class="databox_medium_dark_title_box">
                        <i class="fa-solid fa-arrow-rotate-left"></i>
                        <h3>Return Policy</h3>
                    </div>
                    <p>
                        Learn more about our return policy by clicking on the link below.
                    </p>
                    <a href="/">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}