{% extends "layout.html" %}
{% load static %}


{% block title %}
Password Reset
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="login_section_container">
        <div class="page_title">
            <h2>Password Reset Confirm</h2>
        </div>
        <div class="login_page_login_container">
            <div class="login_title">
                <h2>The Pop Up</h2>
            </div>
            <div class="login_input_container">
                {% if validlink %}
                <form action="" method="POST" id="resetPasswordForm">
                    {% csrf_token %}

                    {{ password_reset_form.email }}
                    {{ password_reset_form.password }}
                    {{ password_reset_form.password2 }}

                    <button type="submit" class="button_medium resetPasswordFormBtn" id="resetPasswordFormBtn">Reset
                        Password</button>
                </form>
                {% else %}
                <p>The reset link is invalid or has expired</p>
                {% endif %}
            </div>
            <div class="login_user_options_container">
                <a href="login">Login</a>
                <p class="signUpModalBtn">Sign Up</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}