{% extends "layout.html" %}
{% load static %}


{% block title %}
Login
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="login_section_container">
        <div class="page_title">
            <h2>Password Reset</h2>
        </div>
        <div class="login_page_login_container">
            <div class="login_title">
                <h2>The Pop Up</h2>
            </div>
            <div class="login_input_container">
                <form action="" method="post">
                    <input class="login_input" type="text" name="password1" placeholder="password">
                    <input class="login_input" type="text" name="password2" placeholder="confirm password">
                    <input type="submit" value="Submit" class="button_medium">
                </form>
            </div>
            <div class="login_user_options_container">
                <a href="login">Login</a>
                <p class="signUpModalBtn">Sign Up</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}