.order_details_databox_title {
    align-items: center;
    display: flex;
    gap: .50rem;
    justify-content: center;
    margin-bottom: 1rem;
}

.order_details_databox_title div i.dashboard_icon {
    font-size: 2rem;
}

.order_details_databox_title h2 {
    font-size: clamp(.80rem, 1.75rem, 6vw);
    font-weight: 800;
    text-align: center;
}

.order_details_databox_title h3 {
    font-size: clamp(.85rem, 1.5rem, 6vw);
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.dashboard_databox_title i {
    font-size: clamp(.90rem, 1.25rem, 6vw);
}

.order_details_inner_container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.order_dets_min_img_fluid {
    height: 4.5rem;
    width: 6.25rem;
    /* transform: rotate(0); */
    position: relative;
}

.order_dets_product_desc_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.order_dets_sizing h4,
.order_dets_colorway h4 {
    font-weight: 300;
}

.order_dets_shipping_dets_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .25rem;

}

.order_dets_date_create_container {
    margin-top: 1rem;
    text-align: center;
}


/* =============== MEDIA QUERIES (EXTRA LARGE DEVICES) =============== */
@media screen and (max-width: 1350px) {}

/* =============== MEDIA QUERIES (LARGE DEVICES) =============== */
@media screen and (max-width: 1245px) {}


/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1000px) {}


/* =============== MEDIA QUERIES (SMEDIUM DEVICES) =============== */
@media screen and (max-width: 800px) {
    .order_details_databox_title h2 {
        font-weight: 500;
    }

    .order_details_databox_title {
        display: flex;
        flex-direction: column;
    }


    .order_details_inner_container {
        flex-direction: column;
        gap: .5rem;
    }

    .order_dets_image_container {
        display: flex;
        justify-content: center;
    }

    .order_dets_shipped_to_container {
        margin-top: .5rem;
    }

    .order_dets_product_desc_container h4 {
        text-align: center;
    }

    .order_dets_shipped_to_container h4,
    .order_dets_shipped_to_container h3 {
        text-align: center;
    }

    .order_dets_cust_dets_container {
        margin-top: .5rem;
        text-align: center;
    }
}


/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 640px) {
    .order_details_databox_title h2 {
        font-weight: 500;
    }

    .order_details_databox_title {
        display: flex;
        flex-direction: column;
    }


    .order_details_inner_container {
        flex-direction: column;
        gap: .5rem;
    }

    .order_dets_image_container {
        display: flex;
        justify-content: center;
    }

    .order_dets_shipped_to_container {
        margin-top: .5rem;
    }

    .order_dets_product_desc_container h4 {
        text-align: center;
    }

    .order_dets_shipped_to_container h4,
    .order_dets_shipped_to_container h3 {
        text-align: center;
    }

    .order_dets_cust_dets_container {
        margin-top: .5rem;
        text-align: center;
    }
}


/* =============== MEDIA QUERIES (EXTRA-SMALL DEVICES) =============== */
@media screen and (max-width: 450px) {}