.personal_info_title_container h3 {
    color: var(--text-color);
    margin-bottom: 2rem;
    text-align: center;
}




.personal_info_name_container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}

.personal_info_name_container label {
    color: var(--text-color);
}



.personal_info_name_container select {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    height: 2rem;
    padding-left: .5rem;
    width: auto;
}


.personal_info_name_inputs {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;

}

.personal_info_name_inputs input {
    background-color: transparent;
}

.personal_info_name_container button {
    margin-top: 1.50rem;
}


.personal_info_middle_name_container {
    width: 25%;
}

.personal_info_add_small input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 15%
}

.personal_info_add_medium input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 25%
}

.personal_info_add_long input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 40%
}

.personal_info_first_name_input,
.personal_info_middle_name_input,
.personal_info_last_name_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 100%
}

.personal_middle_initial_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 100%;
}


.personal_info_shoe_size_container {
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#edit-form-favorite-brand {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    margin-right: 2.75rem;
    width: 14.5rem;
}

.shoe_sizes_container {
    margin-right: 4.75rem;
}

select#shoe_size {
    color: var(--text-color);
    font-size: 1rem;
    width: 100%;
}

select#gen_option {
    color: var(--text-color);
    font-size: 1rem;
    width: 100%;
}

/*========== Add Address and/or Recipient Area ==========*/

.ship_to_address_update_personal_info_container {
    margin-top: 2rem;

}

.ship_to_address_update_personal_info_container form {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin-top: 2rem;
}


/* .personal_info_address_inputs {
    align-items: flex-start;
    color: var(--text-color);
    display: flex;
    flex-direction: column;

} */

.personal_info_default_addy_options {
    align-items: center;
    color: var(--text-color);
    display: flex;
    gap: .5rem;
    margin-bottom: 1rem;
}

.personal_info_names_container {
    display: flex;
    gap: 1rem;
}

.personal_info_names_container input {
    width: 100%;
}



.personal_info_choice_inputs select {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: auto;
}




.personal_info_street_address_one_input,
.personal_info_street_address_two_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 60%;
}

.personal_info_apt_inputs {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 30%;
}

.personal_info_address_zip_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 45%;
}

.personal_info_city_state_zip_container {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.personal_info_city_state_zip_container input,
.personal_info_city_state_zip_container select {
    display: flex;
    width: auto;

}



.personal_info_address_city_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;

    padding-left: .5rem;
    width: 100%;


}



.personal_info_delivery_instructions {
    display: flex;
    flex-direction: column;
}


.personal_info_delivery_instructions textarea {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 3rem;
    padding-left: .5rem;
    resize: none;
    width: 57%;

}




.personal_info_state_inputs {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.personal_info_state_inputs select {
    background-color: transparent;
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 100%;
}

.personal_info_addres_phone_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 100%;
}


.personal_info_phone_container {
    align-items: center;
    display: flex;
    height: 1rem;
    gap: 2rem;
    margin-top: .5rem;
    width: 100%;

}


.personal_info_mobile_phone {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    margin-right: 1.25rem;
}

.personal_info_text_permission_container {
    align-items: center;
    color: var(--text-color);
    display: flex;
    /* flex-direction: column; */
    height: 3rem;
    gap: .50rem;
    width: 20%;
}

/* ======== Saved Address Edit Containers ======== */



/* ======== Saved Address Containers ======== */
.account_addresses_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
}

.account_addresses_default_notice {
    height: 1.5rem;
}


.account_addresses_default_notice h3 {
    font-weight: 200;
    text-align: left;

}

.notDefault {
    visibility: hidden;
}

.account_addresses_data {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    min-height: 55%;
    width: 15rem;

}

.account_addresses_data_city_state_zip {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.account_addresses_data_delivery_info {
    margin-top: .5rem;
    max-height: 15%;
}

.account_addresses_data_delivery_info p {
    color: var(--body-color);
    font-size: .85rem;
}

.account_addresses_data_delivery_info a {
    color: var(--body-color);
    cursor: pointer;
    font-size: .85rem;
    transition: var(--tran-03);
}

.account_addresses_data_update_option {
    margin-top: 1rem;
    width: 100%;

}

.account_addresses_data_update_option input {
    background: transparent;
    color: var(--body-color);
    cursor: pointer;
    font-size: .8rem;
    transition: var(--tran-03);

}

.account_addresses_data_update_option {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.account_addresses_data_update_option input:hover,
.account_addresses_data_delivery_info a:hover {
    color: lightblue;
}


/* ======== Saved Payment Containers ======== */

.account_payment_container {
    margin-top: 3rem;
}

.payment_options_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.personal_card_input_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.personal_card_number_container {
    display: flex;
    flex-direction: column;
}

.personal_card_number_container label {
    color: var(--text-color);
}

.personal_card_nums_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 40%;
}

.card_exp_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 10%;
}

.card_name_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 40%;
}


.account_card_info_container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.personal_card_data {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    gap: 1.25rem;

}

.personal-visa-logo,
.personal-mc-logo {
    height: 3.5rem;
}

.account_payment_data_update_option {
    align-items: center;
    width: 15rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.account_card_info_container .account_payment_data_update_option a {
    color: var(--body-color);
    font-size: .9rem;
    transition: var(--tran-03);

}

.account_payment_data_update_option a:hover {
    color: lightblue;
}


/* ============  Update Address Modal  ============ */


.update_address_modal_container {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: .5rem .5rem;
}

.update_address_modal_container form .modal_name_inputs {
    color: var(--text-color);
    margin-bottom: .5rem;
}

.personal_info_modal_choice_input {
    width: 100%;
}

.personal_info_modal_choice_input select {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 25%;
}



.personal_info_modal_name_input {
    width: 100%;
}

.personal_info_modal_name_input input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 45%;
}

.personal_info_modal_street_input {
    width: 100%;
}

.personal_info_modal_street_input input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 65%;
}

.personal_info_modal_choice_input input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 25%;
}


.personal_info_modal_city_state_zip_container {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.personal_info_modal_city_state_zip_container select {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 20%;
}

.personal_info_modal_city_state_zip_container input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 2rem;
    padding-left: .5rem;
    width: 25%;
}

.personal_info_modal_delivery_instructions {
    width: 100%;
}

.personal_info_modal_delivery_instructions textarea {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    color: var(--text-color);
    font-size: 1rem;
    height: 3rem;
    padding: .10rem 0 0 .5rem;
    resize: none;
    width: 65%;
}

.personal_info_modal_name_radio {
    align-items: center;
    color: var(--text-color);
    display: flex;
    gap: .5rem;
    width: 100%;
}


/* ============  End Update Address Modal  ============ */


/* ========== Start of Delete Account Section ========== */
.delete_account_container p {
    color: var(--text-color);
}

/* ========== End ofDelete Account Section ========== */