.product_buy_section {
    background: var(--body-color);
    min-height: 100vh;
}


.buy_product_container {
    display: flex;
    height: auto;
    margin-top: 4rem;
    width: 100%;
}

.checkout_container_left {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.checkbout_container {
    border-right: 2px solid pink;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
}


.checkbout_container_title h3 {
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
}

.primary_payment_container {
    background: var(--databox-color);


    border-radius: 5px;
    padding: 1rem 1rem;
}

.primary_payment_container h3 {
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;
}


.button_expand_container {
    display: flex;
    justify-content: center;
    gap: .50rem;

}

.expandButton {
    border: none;
    color: var(--chevron-color);
    cursor: pointer;
    outline: none;
    transition: var(--tran-02);

    font-size: 3rem;
    font-weight: 300;
    width: 2.5rem;

}

.active,
.expandButton:active {
    transform: rotate(180deg);
    transition: var(--tran-05);
}


.checkout_options_container {
    padding: 0 18px;


    max-height: 0;
    /* Start collapsed */
    opacity: 0;
    /* Invisible by default */
    overflow: hidden;
    /* Hide overflowing content */
    transition: var(--tran-05);
    /* Smooth transition for height and opacity */

    align-items: center;
    background: var(--databox-color);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 1rem;

}

.checkout_options_container.show {
    max-height: 500px;
    /* Adjust to the maximum height of your container */
    opacity: 1;
    /* Fully visible */

    align-items: center;
    background: var(--databox-color);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 0;
    transition: var(--tran-05);

}


.payment_option_buttons i {
    font-size: 1.5rem;
}


.g-logo {
    height: 1.75rem;
}

.paypal-logo {
    height: 5rem;
    position: absolute;
}

.venmo-logo {
    height: 3rem;
    position: absolute;
}

.visa_mc_disc_card_logo_container {
    display: flex;
    gap: .25rem;
    position: absolute;
}

.visa-logo,
.mc-logo,
.disc-logo {
    height: 2rem;

}

.dai_usdc_logo_container {
    display: flex;
    gap: .5rem;
    position: absolute;
}

.dai-logo,
.usdc-logo {
    height: 1.5rem;

}

.checkout_shipping_container {
    background: var(--databox-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 1rem 1rem;
}

.checkout_shipping_container h3,
.checkout_shipping_options_container h3 {
    border-bottom: 2px solid var(--text-color);
    font-size: 1.25rem;
    margin-bottom: 1rem;
    text-align: center;

}

.checkout_shipping_container h4 {
    font-size: 1.10rem;
    margin-bottom: .25rem;

}

#addressChangeButton {
    color: rgb(65, 125, 246);
    cursor: pointer;
    text-decoration: underline;
}

.address_change_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black background with opacity */
}

/* Modal content */
.address_modal_content {
    background-color: #fff;
    margin: 15% auto;
    /* Center it */
    padding: 1rem 1rem;
    border: 1px solid #888;
    width: 50%;
    /* Adjust width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    border: 2px solid var(--text-color);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ship_to_name_update_modal_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    height: 50%;
}


.ship_to_name_update_modal_container select {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    height: 2rem;
    padding-left: .5rem;
    margin-top: -.5rem;
    width: 20%;
}

.modal_name_inputs_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}


.modal_name_inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.modal_first_name_input,
.modal_last_name_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: .5rem;
    width: 75%
}

.modal_middle_initial_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: .5rem;
    width: 15%
}


.ship_to_address_update_modal_container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: 2rem;
}


.modal_street_address_one_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: .5rem;
    width: 75%;
}

.modal_street_address_two_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: .5rem;
    width: 75%;
}

.modal_address_city_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: .5rem;
    width: 75%;
}

.modal_name_inputs select {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    background-color: transparent;
    height: 2rem;
    padding-left: .5rem;
    width: 30%;
}

.modal_address_state_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: .5rem;
    width: 10%;
}

.modal_address_zip_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: .5rem;
    width: 15%;
}

.modal_addres_phone_input {
    border: 2px solid var(--text-color);
    border-radius: 5px;
    height: 2rem;
    padding-left: .5rem;
    width: 25%;
}


.checkout_shipping_options_container {
    background: var(--databox-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 1rem 1rem;
}

.checkout_shipping_options_button_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.checkout_details_container {
    background: var(--databox-color);
    border-radius: 5px;
    color: var(--text-color);
    padding: 1rem 1rem;
}

.checkout_subtotal_container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.checkout_subtotal_container p {
    font-size: 1.15rem;
    font-weight: 600;
}


.purchase_details_item_price_container {
    border-bottom: 1px dotted var(--text-color);
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}


.subtotalExpand {
    border: none;
    cursor: pointer;
    outline: none;
    transition: var(--tran-02);

    font-size: 2rem;
    font-weight: 300;
    width: 2rem;

}

.subTotalactive,
.subtotalExpand:active {
    transform: rotate(180deg);
    transition: var(--tran-05);
}


.purchase_details_container {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 18px;
    transition: var(--tran-05);


}

.purchase_details_container.subTotalShow {

    max-height: 500px;
    opacity: 1;
    padding: 1rem 0;
    transition: var(--tran-05);
}

.purchase_details_confirm_pay {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.checkout_container_right {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 68%;
    justify-content: center;
    gap: 2rem;
    width: 50%;

}

.checkout_product_container {
    align-items: center;
    background-color: var(--databox-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: -1rem 1rem;
    padding: 1rem 1rem;
}

.checkout_img_title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.checkout_img_fluid {
    aspect-ratio: 3/2;
    width: 30%;

}

.checkout_product_desc_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.checkout_product_desc_container h3 {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 300;
    text-shadow: .25px .25px 0px rgba(0, 0, 0, 0.6);
}

.checkout_product_details_container {
    color: var(--text-color);
    margin-top: .25rem;
    width: 100%;

}

.checkout_details_size_container,
.checkout_details_condition_container {
    display: flex;
    justify-content: space-between;
}

.checkout_details_condition_button_container {
    display: flex;
    justify-content: flex-start;
    margin-top: .5rem;
}

.checkout_details_condition_button_container button {
    cursor: pointer;
}