{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}The Pop Up{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="The Seville Report">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://sevillereport.com">
    <meta property="og:description" content="The Investment Newsletter">
    <meta property="og:local" content="en_US">
    <meta property="og:site_name" content="The Seville Reprt">
    <meta name="keywords" content="Investments, Investing, Stocks, Stock Market, Wall Street">
    <meta name="author" content="Paul Black">


    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/27e86509c5.js" crossorigin="anonymous"></script>

    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- PayPal -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD"></script>

    <!-- Brantree / Venmo -->
    <script src="https://js.braintreegateway.com/web/3.91.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.91.0/js/venmo.min.js"></script>

    <!-- QR Code Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js"></script>



    <!-- Your NowPayments integration script -->
    <script src="{% static 'js/nowpayments_integration.js' %}"></script>


    <!-- Chart Js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!--Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Birthstone&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/template_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/auction.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/auction_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_auction.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_auction_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/products_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/coming_soon.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/coming_soon_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/future_releases.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/future_releases_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_details_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/site_info/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/site_info/about_us_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/site_info/how_it_works.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/site_info/how_it_works_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/auction/site_info/contact_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/site_info/contact_us_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/auction/site_info/help_center.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/site_info/help_center_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/auction/site_info/help_center_pages/buying_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/site_info/help_center_pages/buying_page_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/auction/footer_links/terms_and_conditions.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/footer_links/terms_and_conditions_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/footer_links/privacy.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/footer_links/privacy_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/dashboard_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/personal_info.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/personal_info_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/interested_in.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/interested_in_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/on_notice.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/on_notice_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/open_bids.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/open_bids_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/past_bids.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/past_bids_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/past_purchases.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/past_purchases_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/dashboard_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/inventory.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/inventory_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/sales.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/sales_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/most_on_notice.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/most_on_notice_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/account_sizes.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/account_sizes_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/update_shipping.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/update_shipping_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/login/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/login/login_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/login/password_reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/login/password_reset_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/payment/payment_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment/payment_home_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/payment/placed_order.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment/placed_order_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/payment/billing_address.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment/billing_address_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/payment/shipping_address.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment/shipping_address_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">



</head>

<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <div class="logo-text" alt="logo">The Pop Up</div>
                </span>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                {% if request.user.is_authenticated %}
                <div class="greetings_box">
                    <h4 class="greetings_box_name">Hello {{ request.user.first_name}}</h4>
                </div>
                {% endif %}
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <li class="mobile-search-box hide-mobile-search-box">
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link nav-link-mobile">
                        <i class='bx bx-search icon' id="mobile-search-icon"></i>
                    </li>
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    {% if request.user.is_authenticated and request.user.is_staff %}
                    <li class="nav-link">
                        <a href="{% url 'pop_accounts:dashboard_admin' %}">
                            <!-- <i class='bx bxs-dashboard icon'></i> -->
                            <i class='bx bxs-user-detail icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    {% elif request.user.is_authenticated %}
                    <li class="nav-link">
                        <a href="{% url 'pop_accounts:dashboard' %}">
                            <!-- <i class='bx bxs-dashboard icon'></i> -->
                            <i class='bx bxs-user-detail icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    {% endif %}
                    <li class="nav-link">
                        <a href="{% url 'auction:products' %}">
                            <i class='bx bx-package icon'></i>
                            <span class="text nav-text">Products</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'auction:auction' %}">
                            <i class="fa-solid fa-gavel icon"></i>
                            <span class="text nav-text">Auction</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'auction:coming_soon' %}">
                            <i class="fa-solid fa-bullhorn icon"></i>
                            <span class="text nav-text">Coming Soon</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'auction:future_releases' %}">
                            <i class='bx bxs-calendar icon'></i>
                            <span class="text nav-text">Future Releases</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a type="button" role="button" href="{% url 'payment:payment_home' %}">

                            <i class='bx bx-cart icon'></i>
                            <span class="text nav-text">Cart</span>
                            {% with total_qty=cart|length %}
                            <div class="cart_qty" id="cart_qty">
                                {% if total_qty > 0 %}
                                {{ total_qty }}
                                {% else %}
                                0
                                {% endif %}
                            </div>
                            {% endwith %}
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-mail-send icon'></i>
                            <span class="text nav-text">Invite a Friend</span>
                        </a>
                    </li>

                    {% if request.user.is_authenticated %}
                    <form action="{% url 'pop_accounts:logout' %}" method="POST">
                        {% csrf_token %}
                        <li class="nav-link">
                            <button>
                                <i class='bx bx-log-out icon'></i>
                                <span class="text nav-text">Log out</span>
                            </button>
                        </li>
                    </form>
                    {% else %}
                    <li class="signUpModalBtn">
                        <button>
                            <i class='bx bx-log-in icon'></i>
                            <span class="text nav-text">Log in</span>
                        </button>
                    </li>
                    {% endif%}

                    {% if not request.user.is_authenticated %}
                    <li class="signUpModalBtn">
                        <a href="#">
                            <i class='bx bx-user-plus icon'></i>
                            <span class="text nav-text">Sign Up</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                    <li class="mobile-mode" id="mobile-moon-sun">
                        <i class='bx bx-moon icon mobile-moon'></i>
                        <i class='bx bx-sun icon mobile-sun'></i>
                    </li>

                </ul>
            </div>
        </div>
        <!-- Size Sign Up Modal -->
        <div class="sign_up_modal fade" id="signUpModal" tabindex="-1" aria-labelledby="bidModalLabel"
            aria-hidden="true">
            <div class="sign_up_modal_content">
                <div class="modal_header">
                    <div class="empty_div"></div>
                    <button type="button" class="btn-close closeSignUpModal" aria-label="Close">X</button>
                </div>
                <div class="sign_up_pic_form_container">
                    <div class="sign_up_image_container">
                        <img class="img_sign_up" alt="Responsive image" src="{% static 'img/sneakerEight.png' %}"
                            alt="{{ image.image.alt_text}}" />
                    </div>
                    <div class="interntal_sign_up_container">
                        <div class="sign_up_title_options_container show_container">
                            <div class="sign_up_modal_title">
                                <h3>Log in or sign up in seconds</h3>
                                <p>Use your email or another service to contine with The Pop Up (It's Free).</p>
                            </div>
                            <div class="sign_up_options_container">
                                <button class="sign_up_option_buttons">
                                    <img src="{% static 'img/g_icon.svg' %}" class='g-logo' />
                                    <p>Continue with Google</p>
                                </button>
                                <button class="sign_up_option_buttons">
                                    <img src="{% static 'img/facebook.svg' %}" class='g-logo' />
                                    <p> Continue with Facebook</p>
                                </button>
                                <button class="sign_up_option_buttons emailSignUpButton">
                                    <i class='bx bx-envelope icon'></i>
                                    <p> Continue with email</p>
                                </button>
                            </div>
                            <div class="sign_up_modal_policy">
                                <p>By continuing you agree to The Pop Up's Terms of Use. Read our Privacy Policy.</p>
                            </div>
                        </div>
                        <div class="email_verification_container hide_container">
                            <div class="email_sign_up_modal_title">
                                <div class="email_sign_up_modal_container">
                                    <i class='bx bx-chevron-left backChevron' id='backChevron'></i>
                                    <h3>Continue with email</h3>
                                </div>

                                <p>We'll check if you have an account and help you create one if you don't.</p>
                            </div>
                            <div class="sign_up_options_container">
                                <form action="{% url 'pop_accounts:check_email' %}" method="POST"
                                    class="sign_up_options_form">
                                    {% csrf_token %}

                                    {% if email_form.errors %}
                                    <div role="alert">Error: Incorrect Username or Password!</div>
                                    {% endif %}

                                    {{ email_form.email }}

                                    <button type="submit" class="button_small_white emailSubmitButton"
                                        id="emailContinueBtn" disabled>Continue</button>
                                </form>
                            </div>
                            <div class="sign_up_modal_policy">
                                <p>By continuing you agree to The Pop Up's Terms of Use. Read our Privacy Policy.</p>
                            </div>
                        </div>

                        {% comment %}
                        if email not on file and signing up for the first time show
                        sign_up_email_container
                        {% endcomment %}

                        <div class="sign_up_email_container hide_container">
                            <div class="email_sign_up_modal_title">
                                <div class="email_sign_up_modal_container">
                                    <i class='bx bx-chevron-left backChevron' id='confirmContainerBackChevronTwo'></i>
                                    <h3>Create account with</h3>
                                </div>

                                <p class="email_provided_signin_popup"></p>
                                <div class="registration_form_errors"
                                    style="color: red; display: none; margin-bottom: 4px; font-size: 16px;">
                                </div>
                            </div>
                            <div class="sign_up_options_form_container">

                                <form action="{% url 'pop_accounts:register' %}" method="POST"
                                    class="registration_options_form">
                                    {% csrf_token %}

                                    {{ registration_form.email }}
                                    {{ registration_form.first_name }}
                                    {{ registration_form.password }}
                                    {{ registration_form.password2 }}

                                    <button type="submit"
                                        class="button_small_white registrationSubmitButton">Submit</button>
                                </form>
                            </div>
                            <div class="sign_up_modal_policy">
                                <p>By continuing you agree to The Pop Up's Terms of Use. Read our Privacy Policy.</p>
                            </div>
                        </div>

                        <div class="email_login_container hide_email_login_container">
                            <div class="email_sign_up_modal_title">
                                <div class="email_sign_up_modal_container">
                                    <i class='bx bx-chevron-left backChevron' id='confirmContainerBackChevronThree'></i>
                                    <h3>Login</h3>
                                </div>
                            </div>
                            <div class="sign_up_options_container">
                                <form action="{% url 'pop_accounts:user_login' %}" method="POST"
                                    class="sign_up_options_form">
                                    {% csrf_token %}

                                    {% if password_form.errors %}
                                    <div role="alert">Error: Incorrect Username or Password!</div>
                                    {% endif %}

                                    <p class="email_provided_signin_popup"></p>
                                    {{ password_form.password }}

                                    <button type="submit" class="button_small_white loginSubmitButton"
                                        id="passwordSubmitBtn" disabled>Submit</button>
                                </form>
                            </div>
                            <div class="login_user_options_error_container">
                                <p class="login_user_options_error" style="color: red; display: none;"> </p>
                            </div>
                            <div class="login_user_options_container">
                                <a class="passwordForgetLink" href="#">Forgot Password</a>
                            </div>
                        </div>

                        <!-- slides related to password reset -->
                        {% comment %}
                        if "forgotton password" selected show this slide
                        {% endcomment %}
                        <div class="forgot_password_container">
                            <div class="email_sign_up_modal_title">
                                <div class="email_sign_up_modal_container">
                                    <i class='bx bx-chevron-left backChevron' id='confirmContainerBackChevronFour'></i>
                                    <h3>Forgot your password?</h3>
                                </div>

                                <p>No problem. Enter your email, press continue, and then check your email.</p>
                                <p>We've sent you a message to help you reset your password.</p>
                            </div>
                            <div class="forgot_password_options_container">
                                <form action="" method="POST" class="password_reset_sign_up_options_form">
                                    {% csrf_token %}

                                    {% if email_password_reset_form.errors %}
                                    <div role="alert">Error: Email not on file!</div>
                                    {% endif %}

                                    {{ email_password_reset_form.email }}

                                    <button type="button" class="button_small_white resetPasswordBtn"
                                        id="resetPasswordBtn" disabled>Continue</button>
                                </form>
                                <div id="resetSpinner" style="display: none; text-align: center; margin-top: 10px;">
                                    <div class="spinner"></div>
                                </div>
                            </div>
                        </div>

                        <div class="sign_up_email_confirm_container hide_ign_up_email_confirm_container">
                            <div class="email_sign_up_modal_title">
                                <div class="email_sign_up_modal_container">
                                    <i class='bx bx-chevron-left backChevron' id='confirmContainerBackChevronSix'></i>
                                    <h3>Confirmation</h3>
                                </div>
                            </div>
                            <div class="comfirmation_input_container">
                                <div class="confirmation_input_container_text">
                                    <p>A confirmation code has been sent to your email.</p>
                                    <p>Enter confirmation code below.</p>
                                    <p><span id="code_timer">05:00</span></p>
                                </div>


                                <form method="post">
                                    {% csrf_token %}
                                    <div class="confirmation_input">
                                        <input class="code-input" type="number" maxlength="1">
                                        <input class="code-input" type="number" maxlength="1">
                                        <input class="code-input" type="number" maxlength="1">
                                        <input class="code-input" type="number" maxlength="1">
                                        <input class="code-input" type="number" maxlength="1">
                                        <input class="code-input" type="number" maxlength="1">
                                    </div>
                                    <button type="button" class="button_small_white confirm_submit_button">Submit
                                    </button>
                                </form>
                                <div class="resend_request_container">
                                    <div class="inner_resend_request_container">
                                        <p>Didn’t get the code? </p>
                                        <a class="button_medium_white" href="#" id="resend_code_link">Resend Code
                                        </a>

                                    </div>
                                    <p id="resend_status_message" style="color: green; display: none;"></p>
                                </div>
                            </div>
                            <div class="empty_div"></div>
                        </div>
                        <!-- After forgot password continue button hit -->
                        {% comment %}
                        if "after forgotton password" tells to check email for link.
                        {% endcomment %}
                        <div class="forgot_password_email_check_container hide_forgot_password_email_check_container">
                            <div class="email_sign_up_modal_title">
                                <div class="email_sign_up_modal_container">
                                    <i class='bx bx-chevron-left backChevron' id='confirmContainerBackChevronFive'></i>
                                    <h3>Everything went as planned</h3>
                                </div>

                                <p>You've been sent an email.</p>
                                <p>To reset your password, follow the instructions in th email.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Sign Up Modal -->
    </nav>
    {% block main %}

    {% endblock %}
    <footer class="footer_container container">
        <div class="top_footer">
            <div class="footer_logo_social_container">
                <div class="image-text">
                    <span class="image">
                        <div class="logo-text" alt="logo">The Pop Up</div>
                    </span>
                </div>
                <div class="footer_social_container">
                    <ul>
                        <li><a href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="footer_links_container">
                <div class="footer_about_container">
                    <div class="footer_about_title">
                        <h3>About</h3>
                    </div>
                    <ul class="footer_about_options">
                        <li>
                            <a href="{% url 'home:about' %}">About Us</a>
                        </li>
                        <li>
                            <a href="{% url 'home:how-it-works' %}">How It Works</a>
                        </li>
                        <li>
                            <a href="{% url 'home:verification' %}">Verification</a>
                        </li>
                    </ul>
                </div>
                <div class="footer_about_container">
                    <div class="footer_about_title">
                        <h3>Help</h3>
                    </div>
                    <ul class="footer_about_options">
                        <li>
                            <a href="{% url 'home:contact' %}">Contact Us</a>
                        </li>

                        <li>
                            <a href="{% url 'home:help-center' %}">Help Center</a>
                        </li>

                        <li>
                            <a href="#">Site Map</a>
                        </li>

                    </ul>
                </div>
                <div class="footer_about_container">
                    <div class="footer_about_title">
                        <h3>Regiseter</h3>
                    </div>
                    <ul class="footer_about_options">
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'pop_accounts:logout' %}" method="POST">
                            <li>
                                <a>Logout</a>
                            </li>
                        </form>

                        {% else %}
                        <li class="signUpModalBtn">
                            <a>Login</a>
                        </li>
                        {% endif %}
                        <li>
                            <a>Signup</a>
                        </li>
                        <li>
                            <a>Reset Password</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer_invite_payment_container">
                <button class="button_long">Invite Friend</button>
                <div class="footer_payment_options">
                    <img src="{% static 'img/paypal_card_icon.png' %}" class='footer_paypal-logo' />
                    <img src="{% static 'img/visa_icon.png' %}" class='footer_visa-logo' />
                    <img src="{% static 'img/mastercard_icon.png' %}" class='footer_mc-logo' />
                    <img src="{% static 'img/discover_icon.png' %}" class='footer_disc-logo' />
                    <img src="{% static 'img/dia-logo.png' %}" class='footer_dai-logo' />
                    <img src="{% static 'img/usdc-logo.png' %}" class='footer_usdc-logo' />
                    <img src="{% static 'img/apple-pay.png' %}" class="footer_apple_logo">
                    <img src="{% static 'img/google-pay-svgrepo-com.svg' %}" class='footer_g-logo' />
                </div>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer_terms_container">
                <ul>
                    <li><a href="{% url 'home:terms' %}">Terms</a></li>
                    <li><a href="{% url 'home:privacy' %}">Privacy</a></li>
                    <li><a href="">Privacy Choices</a></li>
                    <li>©2025 The Pop Up</li>
                    <li>All Rights Reserved</li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{% static 'js/menu.js' %}"></script>
    <script src="{% static 'js/register_login.js' %}"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/footer.js' %}"></script>
    <script src="{% static 'js/payment.js' %}"></script>
    <script src="{% static 'js/userData.js' %}"></script>
</body>

</html>