{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}The Pop Up{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="The Seville Report">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://sevillereport.com">
    <meta property="og:description" content="The Investment Newsletter">
    <meta property="og:local" content="en_US">
    <meta property="og:site_name" content="The Seville Reprt">
    <meta name="keywords" content="Investments, Investing, Stocks, Stock Market, Wall Street">
    <meta name="author" content="Paul Black">


    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/27e86509c5.js" crossorigin="anonymous"></script>

    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- PayPal -->
    <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD"></script>

    <!-- Brantree / Venmo -->
    <script src="https://js.braintreegateway.com/web/3.91.0/js/client.min.js"></script>
    <script src="https://js.braintreegateway.com/web/3.91.0/js/venmo.min.js"></script>

    <!-- QR Code Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js"></script>


    <!-- Canvas-Confetti -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>


    <!-- Your NowPayments integration script -->
    <script src="{% static 'js/nowpayments_integration.js' %}"></script>


    <!-- Chart Js -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <!-- Google Recaptcha-->

    <script src="https://www.google.com/recaptcha/enterprise.js?render={{ RECAPTCHA_PUBLIC_KEY }}"></script>
    <!-- Your code -->


    <!--Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Birthstone&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/template_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/partials/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/partials/navigation_mobile.css' %}">


    <link rel="stylesheet" href="{% static 'css/partials/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/partials/footer_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/partials/invite_friend_modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/partials/invite_friend_modal_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/confirmations/friend_invite_success.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/about_us_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/how_it_works.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/how_it_works_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/contact_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/contact_us_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/help_center.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/help_center_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/site_map.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/site_map_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/help_center_pages/buying_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/site_info/help_center_pages/buying_page_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/footer_links/terms_and_conditions.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/footer_links/terms_and_conditions_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/footer_links/privacy.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/footer_links/privacy_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/footer_links/privacy_choices.css' %}">
    <link rel="stylesheet" href="{% static 'css/home/footer_links/privacy_choices_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/auction/auction.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/auction_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_auction.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_auction_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/products_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/coming_soon.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/coming_soon_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/future_releases.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/future_releases_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_details_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/dashboard_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/personal_info.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/personal_info_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/interested_in.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/interested_in_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/on_notice.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/on_notice_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/open_bids.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/open_bids_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/past_bids.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/past_bids_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/past_purchases.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/past_purchases_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/account_deleted.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/shipping_and_tracking.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/user_accounts/customer_order.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/dashboard_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/inventory.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/inventory_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/sales.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/sales_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/most_on_notice.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/most_on_notice_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/account_sizes.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/account_sizes_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/update_shipping.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/update_shipping_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/add_products.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/add_products_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/update_product.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/update_product_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/shipments.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/admin_accounts/shipments_mobile.css' %}">

    <!-- <link rel="stylesheet" href="{% static 'css/pop_accounts/login/.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/login/_mobile.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/pop_accounts/login/password_reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_accounts/login/password_reset_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/pop_up_shipping/shipping_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_up_shipping/shipping_details_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/payment/payment_home.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment/payment_home_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/payment/placed_order.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment/placed_order_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/payment/billing_address.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment/billing_address_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/payment/shipping_address.css' %}">
    <link rel="stylesheet" href="{% static 'css/payment/shipping_address_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/cart/cart.css' %}">
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="page-wrapper">
        {% include "partials/navigation.html" %}
        <section class="container"> {% comment %}auction_section{% endcomment %}
            {% block main %}{% endblock %}
        </section>
        {% include "partials/footer.html" %}

    </div>
</body>
<script src="{% static 'js/menu.js' %}"></script>
<script src="{% static 'js/register_login.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/footer.js' %}"></script>
<script src="{% static 'js/payment.js' %}"></script>
<script src="{% static 'js/userData.js' %}"></script>

</html>