{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="The Seville Report">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="https://sevillereport.com">
    <meta property="og:description" content="The Investment Newsletter">
    <meta property="og:local" content="en_US">
    <meta property="og:site_name" content="The Seville Reprt">
    <meta name="keywords" content="Investments, Investing, Stocks, Stock Market, Wall Street">
    <meta name="author" content="Paul Black">


    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- BoxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/27e86509c5.js" crossorigin="anonymous"></script>

    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>

    <!-- Chart Js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.3/dist/chart.umd.min.js"></script>

    <!--Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Birthstone&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">


    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/template.css' %}">
    <link rel="stylesheet" href="{% static 'css/template_mobile.css' %}">

    <link rel="stylesheet" href="{% static 'css/home/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/auction.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/auction_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_auction.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_auction_mobile.css' %}">
    <link rel="stylesheet" href="{% static 'css/auction/product_buy.css' %}">


    <!-- <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/index/index_mobile.css' %}"> -->


</head>

<body>
    <nav class="sidebar">
        <header>
            <div class="image-text">
                <span class="image">
                    <div class="logo-text" alt="logo">The Pop Up</div>
                </span>
            </div>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>
                <li class="mobile-search-box hide-mobile-search-box">
                    <input type="text" placeholder="Search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-link nav-link-mobile">
                        <i class='bx bx-search icon' id="mobile-search-icon"></i>
                    </li>
                    <li class="nav-link">
                        <a href="/">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Home</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-dashboard icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-package icon'></i>
                            <span class="text nav-text">Products</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'auction:auction' %}">
                            <i class="fa-solid fa-gavel icon"></i>
                            <span class="text nav-text">Auction</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="fa-solid fa-bullhorn icon"></i>
                            <span class="text nav-text">Coming Soon</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bxs-calendar icon'></i>
                            <span class="text nav-text">Future Releases</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-mail-send icon'></i>
                            <span class="text nav-text">Invite a Friend</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-in icon'></i>
                            <span class="text nav-text">Log in</span>
                        </a>
                    </li>
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Log out</span>
                        </a>
                    </li>
                    <li class="mode">
                        <div class="moon-sun">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark Mode</span>
                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>
                    <li class="mobile-mode" id="mobile-moon-sun">
                        <i class='bx bx-moon icon mobile-moon'></i>
                        <i class='bx bx-sun icon mobile-sun'></i>
                    </li>

                </ul>
            </div>
            {% comment %}
            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-in icon'></i>
                        <span class="text nav-text">Log in</span>
                    </a>
                </li>
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Log out</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="moon-sun">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark Mode</span>
                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
            {% endcomment %}
        </div>
    </nav>


    {% block main %}

    {% endblock %}
    <footer class="section_foot">

    </footer>


    <script src="{% static 'js/menu.js' %}"></script>
    {% comment %}
    <!-- 
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/insights.js' %}"></script> 
    -->
    {% endcomment %}
</body>

</html>