{% extends "layout.html" %}
{% load static %}


{% block title %}
Password Reset
{% endblock %}

{% block main %}

<div class="login_section_container">
    <div class="page_title">
        <h2>{{ user_password_rest_page.page_title }}</h2>
    </div>
    <div class="login_page_login_container">
        <div class="login_title">
            <h2>{{ user_password_rest_page.logo }}</h2>
        </div>
        <div class="login_input_container">
            {% if validlink %}
            <form action="" method="POST" id="resetPasswordForm">
                {% csrf_token %}

                {{ password_reset_form.password }}
                {{ password_reset_form.password2 }}

                <button type="submit" class="button_medium resetPasswordFormBtn" id="resetPasswordFormBtn">Reset
                    Password</button>
            </form>
            {% else %}
            <p>{{ user_password_rest_page.expired_link_message}}</p>
            {% endif %}
        </div>
        <div class="login_user_options_container">
            {% for l in user_password_rest_page.page_links %}
            <p class="{{ l.class_name }}">{{ l.link }}</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}