<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Friend Invite</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');

        .logo-font {
            font-family: 'Birthstone', cursive;
            color: #CB3A60;
            font-size: 3.5rem;
            font-weight: 500;
        }

        /* Mobile Styles */
        @media only screen and (max-width: 600px) {
            .container {
                width: 100% !important;
                padding: 0 10px !important;
            }

            .stack {
                display: block !important;
                width: 100% !important;
            }

            .mobile-center {
                text-align: center !important;
            }

        }
    </style>
</head>

<body style="margin: 0; padding: 0; background-color: #f4f4f4; font-family: Arial, sans-serif;">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f4f4f4">
        <tr>
            <td align="center" style="padding: 20px">
                <table class="container" role="presentation" width="700" cellpadding="0" cellspacing="0" border="0"
                    bgcolor="#ffffff" style="border-radius: 0px; overflow: hidden; width: 700px; max-width: 700px">
                    <!--Header-->
                    <tr border="0" width="600" style="width: 600px; max-width: 600px">
                        <td align="center" width="600" style="background-color: #000; padding:20px;">
                            <div class="image-text">
                                <span class="image">
                                    <div class="logo-font"
                                        style="font-family: 'Birthstone', cursive, sans-serif; font-size: 3.5rem; color: #CB3A60; margin: 0;">
                                        The Pop Up
                                    </div>
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 30px;">
                            <blockquote
                                style="color: #CB3A60; text-align: center; font-weight: 300; font-style: italic; margin: 0; padding: 0; border-left: 4px solid #CB3A60; padding-left: 15px;">
                                <p style="margin: 0;">
                                    There
                                    is no surer
                                    foundation for a
                                    beautiful friendship than
                                    a mutual taste in style.
                                </p>
                                <p style="margin: 10px 0 0 0; font-size: 12px;"> - Anonymous</p>
                            </blockquote>
                        </td>
                    </tr>
                    <!-- Message -->
                    <tr align="center">
                        <td style="padding: 20px 30px 0 30px;">
                            <h1 style="color: #333; font-size: 28px; margin: 0 0 15px 0;">
                                Congrats {{ friend_name }}
                            </h1>
                            <h2 style="color: #555; font-size: 20px; font-weight: normal; margin: 0 0 15px 0;">
                                You've got a real day one in {{ user }}.
                            </h2>
                            <p
                                style="font-size: 18px; font-weight: 200; color: #555; margin: 0 0 15px 0; line-height: 1.5;">
                                {{ user }} thought you’d love
                                <span style="font-family: 'Birthstone', cursive; font-size: 28px; color: #CB3A60;">
                                    The Pop Up
                                </span>, and we agree.
                            </p>
                        </td>
                    </tr>
                    <tr align="center">
                        <td style="padding: 20px 30px 0 30px;">
                            <h3 style="font-size: 16px; color: #555; margin: 0 0 20px 0;">
                                Join now to explore:
                            </h3>
                            <ul style="padding: 0; margin: 0 0 30px 0; list-style: none; text-align: center;">
                                <li style="font-size: 14px; color: #555; margin: 0 0 10px 0;">
                                    <span aria-hidden="true">🛍️</span> Authentic products
                                </li>
                                <li style="font-size: 14px; color: #555; margin: 0 0 10px 0;">
                                    <span aria-hidden="true">🤝</span> A growing community
                                </li>
                                <li style="font-size: 14px; color: #555; margin: 0;">
                                    <span aria-hidden="true">💰</span>Low fees
                                </li>
                            </ul>

                            <div style="margin: 30px 0;">
                                <a href="{{ invite_link }}"
                                    title="Click here to accept the invitation and join The Pop Up"
                                    style="padding: 12px 24px; background-color: #CB3A60;; color: white; text-decoration: none; border-radius: 6px; font-weight: bold;">
                                    Accept Invite
                                </a>
                            </div>

                            <!-- Alternative Text Link -->
                            <p style="font-size: 12px; color: #666; text-align: center; margin-top: 20px;">
                                Or copy and paste this link in your browser:<br>
                                <a href="{{ invite_link }}"
                                    style="color: #CB3A60; text-decoration: underline; word-break: break-all;">
                                    {{ invite_link }}
                                </a>
                            </p>

                            <!-- Existing Account Note -->
                            <p style="font-size: 14px; color: #666; text-align: center; margin-top: 20px;">
                                Already have an account?
                                <a href="https://mysite.com:8000/" style="color: #CB3A60; text-decoration: underline;">
                                    Log in with your email
                                </a>.
                            </p>

                        </td>
                    </tr>
                    <!-- Footer -->
                    <tr>
                        <td align="center"
                            style="margin: 0; background-color: #f9f9f9; padding: 30px; font-size: 12px; color: #999;">
                            You're receiving this email because someone you may know sent an invitation for you to join
                            <a href="https://thepopup.com" style="color: #999">The Pop Up</a> community.<br>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>