{% extends "layout.html" %}
{% load static %}


{% block title %}
Buying Help
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>Buying</h2>
        </div>
        <div class="the_auction_container">
            <div class="help_pages_container">
                <div class="help_nav_container">
                    <ul class="help_links">
                        <li><a href="#bidvbuy">Auction Bid vs Buy Now</a></li>
                        <li><a href="#retractBid">Retracting a Bid</a></li>
                        <li><a href="#mainSeller">Who Am I Buying From</a></li>
                    </ul>
                </div>
                <div class="help_content_container">
                    <div class="help_title_container">
                        <h3 id="bidvsbuy">Auction Bid vs Buy Now</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            To win the opportunity to purchase a product that is in an open auction, you must have the
                            best offer at the time of the auction's close. Placing a bid in an auction is as simple as
                            finding the product you wish to bid on, pressing the "Bid" button, and entering a monetary
                            amount that is higher than the current highest bid. If a higher bid is placed on the
                            product, we notify you. If you hold the winning bid at the close of the auction we will
                            notify you.
                        </p>
                        <p>
                            Some products can be purchased without placing a bid, by pressing the "Buy Now" button. The
                            "Buy Now" button will direct the user to the checkout page, where they can buy the product
                            without making a bid in the auction. Once the purchasers payment has been accepted, the
                            auction for the product will end and the product will be shipped to the purchaser.
                        </p>
                        <p>
                            To win a product through auction, you may need to track the product until the auction
                            closes. Also, while the auction is open, you may need to place several bids in order to
                            secure the product. By buying now, you can bypass the need for bidding and waiting for the
                            auction to close.

                        </p>
                    </div>
                    <div class="help_title_container">
                        <h3 id="retractBid">Retracting a Bid</h3>
                    </div>
                    <div class="help_content">
                        <h4 class="bold section_title">I Need to Cancel My Bid</h4>
                        <p>To cancel a bid, go to your dashboard, go to the "Open Bids"
                            section of the dashboard and press the "Adjust Bid" button. In
                            the pop-up window, select "Cancel Bid".
                        </p>
                        <h4 class="bold section_title">I Need to Edit My Bid</h4>
                        <p>In the case you've entered a higher bid or lower bid than you meant
                            to, you can adjust your bid. One way to adjust your bid is to go
                            to your dashboard, go to the "Open Bids" section of the dashboard
                            and press the "Adjust Bid" button. In the pop-up window enter the
                            correct amount you want to bid in the "Enter your bid" field.
                        </p>
                        <p>Another way to edit your bid is by going to the "Auction" page and
                            finding the product you've bid on, select the "Make Bid" button,
                            and enter the correct bid in the "Enter your bid" field.
                        </p>
                    </div>
                    <div class="help_title_container">
                        <h3 id="mainSeller">Who Am I Buying From</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            All products are being sold by "The Pop Up." We want to ensure that everything sold is
                            authentic, and the best weay to do that is by controlling what gets bought and sold. We only
                            secure product from manufacturers and trusted retailers, and we keep the receipts to prove
                            it. We believe that if you’re going to pay top dollar for your favorite pair kicks or
                            clothing item, it shoud be the authentic product.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}