{% extends "layout.html" %}
{% load static %}


{% block title %}
Auction
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Dashboard</h2>
        </div>
        <div class="the_dashboard_container">
            <div class="personal_interest_notice_container">
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Personal</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_size_container">
                        <p>Size</p>
                        <p class="dashboard_databox_assign_left">US Men's 9</p>
                        <a href="#" id="dashboardSizeEditBtn">Edit</a>
                    </div>
                    <div class="dashboard_location_container">
                        <p>Location</p>
                        <p class="dashboard_databox_assign_left">St. Petersburg, 33711</p>
                        <a href="#">Edit</a>
                    </div>
                    <div class="dashboard_payment_container">
                        <p>Payment</p>
                        <p class="dashboard_databox_assign_left">Mastercard ...5404</p>
                        <a href="#">Edit</a>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="#">More</a>
                    </div>

                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Interest In</h2>
                        <i class='bx bxs-info-circle info-icon'>
                            <span class="tooltip-text">
                                These are future releases that you've notified us that you are interested in.
                                To remove from list, uncheck box.
                            </span>
                        </i>
                    </div>
                    <div class="dashboard_interest_container">
                        <ul>
                            <li><a href="#">2024 Jordan 1 Retro Low OG SP</a><input type="checkbox"></li>
                            <li><a href="#">2024 Travis Scott Medium Olive</a><input type="checkbox"></li>
                        </ul>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="#">More</a>
                    </div>
                </div>
                <div class="dashboard_databox_small">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>On Notice</h2>
                        <i class='bx bxs-info-circle info-icon'>
                            <span class="tooltip-text">These are items that you will receive notice about when they go
                                up for auction.</span>
                        </i>
                    </div>
                    <div class="dashboard_interest_container">
                        <ul>
                            <li>
                                <a href="">2024 Air Force 3 Low x Nigo Blue Void and Tour Yellow</a>
                                <input type="checkbox">
                            </li>
                            <li>
                                <a href="">2024 Nike SB Dunk Low Pro Light Carbon and Monarch</a>
                                <input type="checkbox">
                            </li>
                        </ul>
                    </div>
                    <div class="dashboard_more_container">
                        <a href="#">More</a>
                    </div>
                </div>
            </div>
            <div class="bids_purchases_container">
                <div class="dashboard_databox_large">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Open Bids</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_open_bids_container">
                        <div class="dashboard_databox_headers">
                            <h3>Items</h3>
                            <h3>Last Bid</h3>
                            <h3>Bid Status</h3>
                            <h3>Bid Action</h3>
                        </div>
                        <div class="dashboard_open_bids">
                            <div class="indi_bids">
                                <div class="indi_bids_item">
                                    <a href="#">
                                        <p>Jordan 1 Retro Low OG SP Travis Scott Medium Olive</p>
                                    </a>
                                </div>
                                <div class="indi_bids_last_bid">
                                    <p>$500</p>
                                </div>
                                <div class="indi_bids_bid_status">
                                    <p>Current Top Bid</p>
                                </div>
                                <div class="indi_bids_action">
                                    <button class="button_long_white">Blank Button</button>
                                </div>
                            </div>

                            <div class="indi_bids">
                                <div class="indi_bids_item">
                                    <a href="#">
                                        <p>Jordan 1 Retro Low OG SP Travis Scott Medium Olive</p>
                                    </a>
                                </div>
                                <div class="indi_bids_last_bid">
                                    <p>$500</p>
                                </div>
                                <div class="indi_bids_bid_status">
                                    <p>Losing Bid</p>
                                </div>
                                <div class="indi_bids_action">
                                    <button class="button_long_white">Increase Bid</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="dashboard_databox_large">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Past Bids</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_past_bids_container">
                        <div class="dashboard_databox_past_bids_headers">
                            <h3>Items</h3>
                            <h3>Last Bid</h3>
                            <h3>Bid Status</h3>
                        </div>
                        <div class="dashboard_open_bids">
                            <div class="indi_past_bids">
                                <div class="indi_past_bid_items">
                                    <a href="#">
                                        <p>Jordan 1 Retro Low OG SP Travis Scott Medium Olive</p>
                                    </a>
                                </div>
                                <div class="indi_past_bid_last_bid">
                                    <p>$500</p>
                                </div>
                                <div class="indi_past_bid_bid_status">
                                    <p>Winning Bid</p>
                                </div>
                            </div>
                            <div class="indi_past_bids">
                                <div class="indi_past_bid_items">
                                    <a href="#">
                                        <p>Jordan 1 Retro Low OG SP Travis Scott Medium Olive</p>
                                    </a>
                                </div>
                                <div class="indi_past_bid_last_bid">
                                    <p>$500</p>
                                </div>
                                <div class="indi_past_bid_bid_status">
                                    <p>Losing Bid</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="dashboard_databox_large">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h2>Past Purchases</h2>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_past_bids_container">
                        <div class="dashboard_databox_past_bids_headers">
                            <h2>Items</h2>
                            <h2>Date Purchased</h2>
                            <h2>Delivered</h2>
                        </div>
                        <div class="dashboard_open_bids">
                            <div class="indi_past_purchases">
                                <div class="indi_past_purchases_items">
                                    <a href="#">
                                        <p>Jordan 1 Retro Low OG SP Travis Scott Medium Olive</p>
                                    </a>
                                </div>
                                <div class="indi_past_bid_last_bid">
                                    <p>6/20/2024</p>
                                </div>

                                <div class="indi_past_bid_bid_status">
                                    <p>St. Petersburg, FL 33711</p>
                                </div>
                            </div>
                            <div class="indi_past_purchases">
                                <div class="indi_past_purchases_items">
                                    <a href="#">
                                        <p>Jordan 1 Retro Low OG SP Travis Scott Medium Olive</p>
                                    </a>
                                </div>
                                <div class="indi_past_bid_last_bid">
                                    <p>3/20/2024</p>
                                </div>

                                <div class="indi_past_bid_bid_status">
                                    <p>South Ozone Park, NY 11434</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Bid Modal -->
    <div class="modal fade" id="sizeEditModal" tabindex="-1" aria-labelledby="bidModalLabel" aria-hidden="true">
        <div class="modal_content">
            <div class="modal_header">
                <h3 class="modal-title" id="bidModalLabel">Size Selection</h3>
                <button type="button" class="btn-close closeSizeEditModal" aria-label="Close">X</button>
            </div>
            <div class="size_option_gender_container">
                <div class="size_gender_container">
                    <button class="button_small_white">Boys</button>
                    <button class="button_small_white">Mens</button>
                    <button class="button_small_white">Girls</button>
                    <button class="button_small_white">Womens</button>
                </div>
                <div class="size_options_container">
                    <button class="button_smaller_white">7 US</button>
                    <button class="button_smaller_white">7.5 US</button>
                    <button class="button_smaller_white">8 US</button>
                    <button class="button_smaller_white">8.5 US</button>
                    <button class="button_smaller_white">9 US</button>
                    <button class="button_smaller_white">9.5 US</button>
                    <button class="button_smaller_white">10 US</button>
                    <button class="button_smaller_white">10.5 US</button>
                    <button class="button_smaller_white">11 US</button>
                    <button class="button_smaller_white">11.5 US</button>
                    <button class="button_smaller_white">12 US</button>
                    <button class="button_smaller_white">12.5 US</button>
                    <button class="button_smaller_white">13 US</button>
                    <button class="button_smaller_white">13.5 US</button>
                    <button class="button_smaller_white">14 US</button>
                    <button class="button_smaller_white">14.5 US</button>
                    <button class="button_smaller_white">15 US</button>
                    <button class="button_smaller_white">15.5 US</button>
                    <button class="button_smaller_white">16 US</button>
                    <button class="button_smaller_white">16.5 US</button>
                    <button class="button_smaller_white">17 US</button>
                    <button class="button_smaller_white">17.5 US</button>
                    <button class="button_smaller_white">18 US</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Bid Modal -->
</section>

{% endblock %}