{% extends "layout.html" %}
{% load static %}


{% block title %}
Privacy
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>Your Privacy Choices</h2>
        </div>
        <div class="the_auction_container">
            <div class="t_and_c_container">
                <p> Under applicable U.S. state privacy laws (e.g., California, Colorado, etc.), residents
                    have the right to opt-out of "sales" and "shares" of personal information, "targeted
                    advertising," and certain use/disclosure of "sensitive" personal information. For more
                    information, see our Privacy Policy..
                </p>
                <p>To opt-out, you must (1) submit the "Opt-Out Form" using the link below or email
                    <a href="mailto:pblackdevdemo@gmail.com">pblackdevdemo@gmail.com</a> with the subject
                    "Opt-Out of Sales."
                </p>
                <div class="user_opt_out_container">
                    <h4 class="bold section_title">Send Opt-Out Email</h4>
                    <buttton class="button_extra_long">Accept Cookies Targeting</buttton>
                    <buttton class="button_extra_long">Opt Out of Cookies Targeting</buttton>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}