{% extends "layout.html" %}
{% load static %}


{% block title %}Shipping and Tracking Help{% endblock %}

{% block main %}
<div class="terms_and_container">
    <div class="footer_links_title">
        <h2>{{ help_center_page_shipping.page_title }}</h2>
    </div>
    <div class="the_auction_container">
        <div class="help_pages_container">
            <div class="help_nav_container">
                <ul class="help_links">
                    {% for l in help_center_page_shipping.side_link_links %}
                    <li><a href="{{ l.url }}">{{ l.label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="help_content_container">
                {% for text in help_center_page_shipping.sections %}
                <div class="help_title_container" id="{{ text.id }}">
                    <h3>{{ text.section_title }}</h3>
                </div>
                <div class="help_content">
                    {% for para in text.section_paragraph %}
                    {% if para.paragraph_title %}
                    <h4 class="bold section_title">{{ para.paragraph_title }}</h4>
                    {% endif %}
                    <p>{{ para.paragraph }}</p>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}