{% extends "layout.html" %}
{% load static %}


{% block title %}
Shipping and Tracking Help
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>Shipping and Tracking</h2>
        </div>
        <div class="the_auction_container">
            <div class="help_pages_container">
                <div class="help_nav_container">
                    <ul class="help_links">
                        <li><a href="#generalShipping">General Shipping</a></li>
                        <li><a href="#trackShipping">Track Shipping</a></li>
                        <li><a href="#IntShipping">International Shipping</a></li>
                        <li><a href="#shippingUpdate">Update My Shipping Address</a></li>
                    </ul>
                </div>
                <div class="help_content_container">
                    <div class="help_title_container">
                        <h3 id="generalShipping">General Shipping</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            For domestic shipments, we ship with the United States Postal
                            Service. Upon purchasing a product, two shipping choices are
                            offered, standard shipping and express shipping. Shipping costs
                            vary depending on shipping location and shipping destination.
                        </p>
                        <p>
                            Express shipping will cost more than standard shipping, and
                            packages shipped by express shipping typically arrive to their destination
                            faster than if shipped using standard shipping. However, unforseen
                            circumstance including but not limited to weather, flight delays,
                            or lack of service at the destination area can prevent packages
                            from being delievered in a timely manner.
                        </p>
                    </div>
                    <div class="help_title_container">
                        <h3 id="trackShipping">Track Shipping</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            To track your purchase, go to your dashboard and locate the "Shipping & Tracking" section.
                            If the status is "shipped", click on the "shipped" link to access the tracking number of our
                            package. With the tracking number, you can track your purchase at <span>
                                <a
                                    href="https://tools.usps.com/go/TrackConfirmAction_input?_gl=1*h4vw3o*_ga*MTc1MTA1MTM2Ny4xNzQwNzAxODcz*_ga_QM3XHZ2B95*MTc0MDcwMTg3My4xLjAuMTc0MDcwMTg3My4wLjAuMA..">usps.com</a></span>
                            If the status is "processing," the package has not shipped yet.
                        </p>
                    </div>
                    <div class="help_title_container">
                        <h3 id="IntShipping">International Shipping</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            At this time we do not ship purchases internationally.
                        </p>
                    </div>
                    <div class="help_title_container">
                        <h3 id="shippingUpdate">Update My Shipping Address</h3>
                    </div>
                    <div class="help_content">
                        <p>
                            There are several places to update your mailing address.
                            Go to the "Dashboard" page by clicking on "Dashboard" in the
                            navigation menu to the left of the screen. On the "Dashboard" page,
                            locate the "Personal" section, and click the "edit" link that
                            is in-line with "Location." Add the new mailing address and
                            press the "Update" button.
                        </p>
                        <p>
                            Another way to update your mailing address is by accessing the
                            "Account Data" page. To access the "Account Data" page, click on
                            "Dashboard" in the navigation menu on the left of the screen
                            (bottom of the screen if you are using a mobile device). On the
                            "Dashboard" page, locate the "Personal" section, and click the
                            "more" link at the bottom of the "Personal" section. Scroll to
                            the middle of the "Account Data" page and enter the new mailing
                            address and click the "Add Address" button.
                        </p>
                        <p>
                            By following the instructions in the paragraph above and scrolling
                            past the "Add Address" button, you can also edit an address you
                            already have on file, as well make an already listed address your
                            default mailing address.
                        </p>
                        <p>
                            During the checkout process, there is an opportunity to change
                            the shipping address and the name that the package is being
                            shipped to. If you have items in your cart and are ready to
                            checkout, click on "Cart" in the navigation menu on the left of
                            the screen (bottom of the screen if you are using a mobile device).
                            Locate the "Shipping to" section on the checkout page and press
                            the "Change" link. Add the name of the package recipient and the
                            new address and press the "submit" button.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}