{% extends "layout.html" %}
{% load static %}


{% block title %}
About Us
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>{{ about_us_copy.page_title }}</h2>
        </div>
        <div class="the_auction_container">
            <div class="t_and_c_container">
                <h4 class="bold section_title">{{ about_us_copy.paragraph_title }}</h4>
                <p>
                    {{ about_us_copy.paragraph }}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}