{% extends "layout.html" %}
{% load static %}


{% block title %}
Verification
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="terms_and_container">
        <div class="footer_links_title">
            <h2>{{ verification_copy.page_title }}</h2>
        </div>
        <div class="the_auction_container">
            <div class="t_and_c_container">
                {% for s in verification_copy.sections %}
                <h4 class="bold section_title">{{ s.section_title }}</h4>
                {% for sp in s.section_paragraph %}
                <p>{{ sp.paragraph }}</p>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}