{% extends "layout.html" %}
{% load static %}


{% block title %}Verification{% endblock %}

{% block main %}

<div class="terms_and_container">
    <header class="footer_links_title">
        <h1>{{ verification_copy.page_title }}</h1>
    </header>
    <div class="the_auction_container">
        <article class="t_and_c_container">
            {% for s in verification_copy.sections %}
            <section aria-labelledby="verification-{{ s.section_title }}">
                <h2 class="bold section_title">{{ s.section_title }}</h2>
                {% for sp in s.section_paragraph %}
                <p>{{ sp.paragraph }}</p>
            </section>
            {% endfor %}
            {% endfor %}
        </article>
    </div>
</div>

{% endblock %}