{% extends "layout.html" %}
{% load static %}


{% block title %}
Auction
{% endblock %}

{% block main %}

<section class="auction_section container">
    <div class="section_container">
        <div class="page_title">
            <h2>Coming Soon</h2>
        </div>
        <div class="product_type_container">
            <div class="product_type_item_select">
                <ul>
                    <li {% if not product_type %} class="selected" {% endif %}>
                        <a href="{% url 'pop_up_auction:coming_soon' %}">All</a>
                    </li>

                    {% for c in product_types %}
                    {% if product_type and product_type.slug == c.slug %}
                    <li class="selected">
                        {% else %}
                    <li>
                        {% endif %}
                        <a href="{% url 'pop_up_auction:coming_soon' c.slug %}">{{ c.name|capfirst }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="cs_container">
            {% if product %}
            {% for prod in product %}
            <div class="cs_display_container">
                <div class="rectangle_image_container">
                    <div class="background_rectangle"></div>
                    {% for image in prod.product_image.all %}
                    {% if image.is_feature %}
                    <img class="img_fluid_cs" alt="{{ image.alt_text }}" src="{{ image.get_image_url }}" />
                    {% endif %}
                    {% endfor %}
                </div>

                <div class="cs_desc_container">
                    <h3>{{ prod.specs.model_year }}</h3>
                    <h3>{{ prod.product_title }}</h3>
                    <h3>{{ prod.secondary_product_title}}</h3>
                </div>
                <div class="cs_button_container">
                    {% if user.is_authenticated and prod in user.prods_on_notice_for.all %}
                    <button class="button_medium notify-me-button" data-product-id="{{ prod.id }}"
                        data-interested="true">On Notice ❤️</button>
                    {% else %}
                    <button class="button_medium notify-me-button" data-product-id="{{ prod.id }}"
                        data-interested="false">Notify
                        Me
                    </button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h4>Nothing to display</h4>
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}