{% extends "layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Address Update
{% endblock %}

{% block main %}

<a href="#main-content" class="skip-link">Skip to main content</a>

<main id="main-content">
    <section class="product_buy_section">
        {% if user.is_authenticated %}
        <div class="section_container">
            <div class="page_title">
                <h1>{{ billing_address_html_copy.page_title }}</h1>
            </div>
            <div class="billing_address_container">
                <!-- Button Navigation -->
                <nav class="billing_address_buttons" aria-label="Billing address options">
                    <div role="tablist" aria-label="Address management tabs">
                        {% for b in billing_address_html_copy.navigation_buttons %}
                        <button type="button" class="{{ b.class_name }}" data-tab="{{ b.data_tab }}" role="tab"
                            aria-selected="{{ b.link }}-tab" aria-controls="{{ b.data_tab }}"
                            id="{{ b.data_tab }}-button">
                            {{ b.link }}
                        </button>
                        {% endfor %}
                    </div>

                </nav>
                <!-- Edit Address Tab -->
                <form action="{% url 'pop_up_payment:billing_address' %}" method="post"
                    class="billing_address_content activated" id="edit-tab" role="tabpanel"
                    aria-labelledby="edit-tab-button" novalidate>
                    {% csrf_token %}

                    <input type="hidden" name="address_id" value="{{ address_form.instance.id }}">

                    <div class="ship_to_name_update_modal_container">
                        <div class="billing_address_inputs">
                            <label for="{{ address_form.prefix.id_for_label }}" class="visually-hidden">
                                {{ address_form.prefix.label }}
                            </label>
                            {{ address_form.prefix }}
                        </div>
                        <div class="personal_info_names_container">
                            <div class="personal_info_add_medium">
                                <label for="{{ address_form.first_name.id_for_label }}" class="visually-hidden">
                                    {{ address_form.first_name.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ address_form.first_name }}
                            </div>
                            <div class="personal_info_add_medium">
                                <label for="{{ edit_address_form.middle_name.id_for_label }}" class="visually-hidden">
                                    {{ edit_address_form.middle_name.label }}
                                </label>
                                {{ address_form.middle_name}}
                            </div>
                            <div class="personal_info_add_medium">
                                <label for="{{ edit_address_form.last_name.id_for_label }}" class="visually-hidden">
                                    {{ edit_address_form.last_name.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ address_form.last_name }}
                            </div>
                        </div>
                        <div class="billing_address_inputs">
                            <label for="{{ edit_address_form.suffix.id_for_label }}" class="visually-hidden">
                                {{ edit_address_form.suffix.label }}
                            </label>
                            {{ address_form.suffix }}
                        </div>
                    </div>
                    <div class="ship_to_address_update_modal_container">
                        <div class="personal_info_add_long">
                            <label for="{{ edit_address_form.address_line.id_for_label }}" class="visually-hidden">
                                {{ edit_address_form.address_line.label }}
                                <span aria-label="required">*</span>
                            </label>
                            {{ address_form.address_line }}
                        </div>
                        <div class="personal_info_add_long">
                            <label for="{{ edit_address_form.address_line2.id_for_label }}" class="visually-hidden">
                                {{ edit_address_form.address_line2.label }}
                            </label>
                            {{ address_form.address_line2 }}
                        </div>
                        <div class="personal_info_add_small">
                            <label for="{{ edit_address_form.apartment_suite_number.id_for_label }}"
                                class="visually-hidden">
                                {{ edit_address_form.apartment_suite_number.label }}
                            </label>
                            {{ address_form.apartment_suite_number }}
                        </div>
                        <div class="personal_info_city_state_zip_container">
                            <div class="personal_info_add_medium">
                                <label for="{{ edit_address_form.town_city.id_for_label }}" class="visually-hidden">
                                    {{ edit_address_form.town_city.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ address_form.town_city }}
                            </div>
                            <div class="personal_info_choice_inputs">
                                <label for="{{ edit_address_form.state.id_for_label }}" class="visually-hidden">
                                    {{ edit_address_form.state.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ address_form.state}}
                            </div>
                            <div class="personal_info_add_small">
                                <label for="{{ edit_address_form.postcode.id_for_label }}" class="visually-hidden">
                                    {{ edit_address_form.postcode.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ address_form.postcode }}
                            </div>
                        </div>

                        <div class="billing_address_delivery_instructions">
                            <label for="{{ edit_address_form.delivery_instructions.id_for_label }}"
                                class="visually-hidden">
                                {{ edit_address_form.delivery_instructions.label }}
                            </label>
                            {{ address_form.delivery_instructions }}
                        </div>
                    </div>
                    <div class="default_billing_address_container">
                        {{ edit_address_form.is_default_billing.label }}
                        {{ edit_address_form.is_default_billing }}
                    </div>
                    <input class="button_medium" type="submit" value="Save"></input>
                </form>

                <div class="billing_add_address_tab billing_address_content" id="choose-tab" role="tabpanel"
                    aria-labelledby="choose-tab-button">
                    <p>Select from Your Saved Addresses:</p>
                    <form action="{% url 'pop_up_payment:billing_address' %}" class="select_address_form" method="POST"
                        novalidate>
                        {% csrf_token %}
                        {% for addy in saved_addresses %}
                        <label>
                            <input type="radio" name="selected_address" value="{{ addy.id }}">
                            {% if addy.first_name == None or not addy.first_name %}
                            <h4 class="shipping_to_name">{{ user }}</h4>
                            {% else %}
                            <h4 class="shipping_to_name">{{ addy.first_name }} {{ addy.last_name }}
                            </h4>
                            {% endif %}
                            <h4 class="shipping_street_address">{{ addy.address_line }}</h4>
                            {% if address.address_line2 %}
                            <h4 class="shipping_street_address">{{ addy.address_line2 }}</h4>
                            {% endif %}
                            {% if addy.apartment_suite_number and addy.apartment_suite_number != "N/A"%}
                            <h4 class="shipping_street_address">
                                Apt/Ste: {{ addy.apartment_suite_number }}
                            </h4>
                            {% endif %}
                            <h4 class="shipping_city_state_zip">{{ addy.town_city }}, {{ addy.state }}
                                {{ addy.postcode}}</h4>
                            {% if addy.phone_number %}
                            <h4 class="shipping_phone_number">{{ addy.phone_number }}</h4>
                            {% else %}
                            <h4 class="shipping_phone_number">{{ user.mobile_phone }}</h4>
                            {% endif %}
                        </label><br>
                        {% endfor %}
                        <button type="submit" class="address_change_button_long use-selected-address">Use Selected
                            Address</button>
                    </form>
                </div>

                <!-- Add New Address Tab -->
                <form action="{% url 'pop_up_payment:billing_address' %}" method="POST" class="billing_address_content"
                    id="new-tab" role="tabpanel" aria-labelledby="new-tab-button" nonvalidate>
                    {% csrf_token %}
                    <!-- Reuse the same form or a seperate one -->
                    <div class="ship_to_name_update_modal_container">
                        <div class="billing_address_inputs">
                            <label for="{{ address_form.prefix.id_for_label }}" class="visually-hidden">
                                {{ edit_address_form.prefix.label }}
                            </label>
                            {{ edit_address_form.prefix }}
                        </div>
                        <div class="personal_info_names_container">
                            <div class="personal_info_add_medium">
                                <label for="{{ address_form.first_name.id_for_label }}" class="visually-hidden">
                                    {{ edit_address_form.first_name.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ edit_address_form.first_name }}
                            </div>
                            <div class="personal_info_add_medium">
                                <label for="{{ address_form.middle_name.id_for_label }}" class="visually-hidden">
                                    {{ edit_address_form.middle_name.label }}
                                </label>
                                {{ edit_address_form.middle_name}}
                            </div>
                            <div class="personal_info_add_medium">
                                <label for="{{ address_form.last_name.id_for_label }}" class="visually-hidden">
                                    {{ edit_address_form.last_name.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ edit_address_form.last_name }}
                            </div>
                        </div>
                        <div class="billing_address_inputs">
                            <label for="{{ address_form.suffix.id_for_label }}" class="visually-hidden">
                                {{ edit_address_form.suffix.label }}
                            </label>
                            {{ edit_address_form.suffix }}
                        </div>
                    </div>
                    <div class="ship_to_address_update_modal_container">
                        <div class="personal_info_add_long">
                            <label for="{{ address_form.address_line.id_for_label }}" class="visually-hidden">
                                {{ edit_address_form.address_line.label }}
                                <span aria-label="required">*</span>
                            </label>
                            {{ edit_address_form.address_line }}
                        </div>
                        <div class="personal_info_add_long">
                            <label for="{{ address_form.address_line2.id_for_label }}" class="visually-hidden">
                                {{ edit_address_form.address_line2.label }}
                            </label>
                            {{ edit_address_form.address_line2 }}
                        </div>
                        <div class="personal_info_add_small">
                            <label for="{{ address_form.apartment_suite_number.id_for_label }}" class="visually-hidden">
                                {{ edit_address_form.apartment_suite_number.label }}
                            </label>
                            {{ edit_address_form.apartment_suite_number }}
                        </div>
                        <div class="personal_info_city_state_zip_container">
                            <div class="personal_info_add_medium">
                                <label for="{{ address_form.town_city.id_for_label }}" class="visually-hidden">
                                    {{ address_form.town_city.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ edit_address_form.town_city }}
                            </div>
                            <div class="personal_info_choice_inputs">
                                <label for="{{ address_form.state.id_for_label }}" class="visually-hidden">
                                    {{ address_form.state.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ edit_address_form.state}}
                            </div>
                            <div class="personal_info_add_small">
                                <label for="{{ address_form.postcode.id_for_label }}" class="visually-hidden">
                                    {{ address_form.postcode.label }}
                                    <span aria-label="required">*</span>
                                </label>
                                {{ edit_address_form.postcode }}
                            </div>
                        </div>
                        <div class="billing_address_delivery_instructions">
                            <label for="{{ address_form.delivery_instructions.id_for_label }}" class="visually-hidden">
                                {{ address_form.delivery_instructions.label }}
                            </label>
                            {{ edit_address_form.delivery_instructions }}
                        </div>
                    </div>
                    <div class="default_billing_address_container">
                        {{ edit_address_form.is_default_billing.label }}
                        {{ edit_address_form.is_default_billing }}
                    </div>
                    <button type="submit" class="address_change_button_long">Save New Address</button>
                </form>
            </div>
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}