{% extends "layout.html" %}
{% load static %}


{% block title %}Interested In{% endblock %}

{% block main %}

<div class="section_container">
    <div class="page_title">
        <h2>{{ admin_total_open_bids_copy.page_title }}</h2>
    </div>
    <div class="interested_in_container">
        <div class="admin_most_on_notice_container">
            <div class="admin_most_on_notice_databox_headers">
                {% for headers in admin_total_open_bids_copy.page_item_list %}
                <h3>{{ headers.header }}</h3>
                {% endfor %}
            </div>
            {% for product in open_auction_products %}
            <div class="interested_in_open_bids">
                <div class="admin_most_on_notice_items_container">
                    <div class="number_of_bids">
                        <p>{{ product.active_bid_count }}</p>
                    </div>
                    <div class="interested_in_year">
                        <p>{{ product.specs.model_year }}</p>
                    </div>
                    <div class="interested_in_item">
                        <a href="product-details">
                            <p>{{ product.product_title }} {{ product.secondary_product_title }}</p>
                        </a>
                    </div>
                    <div class="interested_in_size">
                        {% if product.specs.size %}
                        {% if product.specs.product_sex == "Male" %}
                        <p>{{ product.specs.size }} US {{"Mens"}}</p>
                        {% else %}
                        <p> {{ product.specs.size }} US {{"Womens"}}</p>
                        {% endif %}
                        {% else %}
                        <p>--</p>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
            <hr class="data-line-break">
            <div class="admin_bottom_data_container">
                <a href="{% url 'pop_accounts:most_on_notice' %}" class="dashboard_databox_smaller">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h3>Items on Notice</h3>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>{{ admin_stats.total_notification_instances }}</h2>
                    </div>
                </a>
                <a href="{% url 'pop_accounts:most_interested' %}" class="dashboard_databox_smaller">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h3>Most Interesteds</h3>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>{{ admin_stats.total_interest_instances }}</h2>
                    </div>
                </a>
                <a href="{% url 'pop_accounts:total_open_bids' %}" class="dashboard_databox_smaller">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h3>Total Open Bids</h3>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>{{ admin_stats.total_open_bids }}</h2>
                    </div>
                </a>
                <a href="{% url 'pop_accounts:total_accounts' %}" class="dashboard_databox_smaller">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h3>Total Active Accounts</h3>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>{{ admin_stats.total_active_accounts }}</h2>
                    </div>
                </a>
                <a href="{% url 'pop_accounts:account_sizes' %}" class="dashboard_databox_smaller">
                    <div class="dashboard_databox_title">
                        <div class="blank_div"></div>
                        <h3>Account Sizes</h3>
                        <div class="blank_div"></div>
                    </div>
                    <div class="dashboard_admin_sales_container">
                        <h2>{{ admin_stats.most_common_size }}</h2>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}